.team_section {
  background-image: linear-gradient(to bottom left, #861414, #2e2323);
  background-size: cover;
  width: 100%;
  height: 100vh; }
  @media (max-width: 1500px) {
    .team_section {
      height: 130vh; } }
  @media (max-width: 1380px) {
    .team_section .p {
      font-size: 2rem; }
    .team_section .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .team_section-paragraph {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: #555555;
    text-align: center;
    line-height: 3rem;
    font-family: "Signika"; }

.team_section-text {
  font-weight: 1200;
  font-size: 4rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #f12711, #f5af19);
  font-family: "Signika";
  text-transform: uppercase;
  padding-left: 1rem;
  transition: all 0.3s; }
  .team_section-text:hover {
    transform: scale(1.3); }

.member_image {
  height: 30rem;
  width: 20rem;
  margin-top: 5rem;
  margin-bottom: -3rem;
  flex-wrap: wrap;
  position: relative; }
  .member_image:not(:last-child) {
    margin-right: -15rem; }
  @media (max-width: 1500px) {
    .member_image {
      width: 17.5rem;
      height: 25rem; } }
  @media (max-width: 1380px) {
    .member_image .p {
      font-size: 2rem; }
    .member_image .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .member_image {
      height: 20rem;
      margin: 0.4rem;
      width: 13.5rem;
      margin-top: 1.5rem;
      margin-bottom: 0.2rem; }
      .member_image:not(:last-child) {
        margin-right: 0;
        margin-left: -1.5rem; } }
  @media (max-width: 1380px) {
    .member_image .p {
      font-size: 2rem; }
    .member_image .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.member_image_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  background-color: white;
  width: 85%;
  height: 61rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.411);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem; }
  @media (max-width: 1500px) {
    .member_image_container {
      transform: translateY(12rem) translate(-50%, -50%);
      height: 50rem; } }
  @media (max-width: 1380px) {
    .member_image_container .p {
      font-size: 2rem; }
    .member_image_container .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .member_image_container {
      height: 80rem;
      transform: translateY(-2rem) translate(-50%, -50%); } }
  @media (max-width: 1380px) {
    .member_image_container .p {
      font-size: 2rem; }
    .member_image_container .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.member_nav {
  opacity: 0;
  visibility: hidden;
  display: none; }
  @media (max-width: 75em) {
    .member_nav {
      visibility: visible;
      display: inline-block;
      opacity: 1; } }
  @media (max-width: 1380px) {
    .member_nav .p {
      font-size: 2rem; }
    .member_nav .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.section-contact {
  position: relative;
  padding: 35rem 0;
  background-image: linear-gradient(to right bottom, #6d6e6e, #8a8888); }
  .section-contact_area {
    height: 55rem;
    width: 75%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.726);
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.705) 50%, transparent 50%), url(../img/photo-1541592553160-82008b127ccb.jpg);
    border-radius: 1rem;
    box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.274);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 56.25em) {
      .section-contact_area {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.705) 75%, transparent 75%), url(../img/photo-1541592553160-82008b127ccb.jpg);
        height: 45rem; } }
    @media (max-width: 1380px) {
      .section-contact_area .p {
        font-size: 2rem; }
      .section-contact_area .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .section-contact_left {
    transform: translateX(4rem); }

#name {
  display: block;
  width: 38%;
  padding: 1rem 3rem;
  text-align: start;
  background: rgba(255, 255, 255, 0.397);
  margin-bottom: 1.6rem;
  font-family: 'Signika', Verdana, sans-serif;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    #name {
      width: 55%; } }
  @media (max-width: 1380px) {
    #name .p {
      font-size: 2rem; }
    #name .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

#email {
  display: block;
  width: 38%;
  background: rgba(255, 255, 255, 0.397);
  margin-bottom: 1.6rem;
  text-align: start;
  padding: 1rem 3rem;
  font-family: 'Signika', Verdana, sans-serif;
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.397); }
  @media (max-width: 56.25em) {
    #email {
      width: 55%; } }
  @media (max-width: 1380px) {
    #email .p {
      font-size: 2rem; }
    #email .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

#query {
  display: block;
  margin-bottom: 1.6rem;
  background: rgba(255, 255, 255, 0.397);
  font-family: 'Signika', Verdana, sans-serif;
  font-size: 1.4rem;
  width: 38%;
  padding: 6rem 3rem;
  text-align: start; }
  @media (max-width: 56.25em) {
    #query {
      width: 55%; } }
  @media (max-width: 1380px) {
    #query .p {
      font-size: 2rem; }
    #query .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.submit {
  background-color: #4a4b4b;
  color: white;
  display: block;
  width: 10%;
  text-align: center;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-family: 'Signika', Verdana, sans-serif;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .submit {
      width: 30%; } }
  @media (max-width: 1380px) {
    .submit .p {
      font-size: 2rem; }
    .submit .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .submit:hover {
    background-color: black; }

.input {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.082);
  outline: none;
  border: none; }
  .input:focus {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.377);
    border-bottom: 3px solid #4ce646;
    outline: none;
    border: none; }
  .input:focus:invalid {
    border-bottom: 3px solid #f36c12; }

#contact-heading {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em; }

.event {
  position: relative;
  padding: 0 0  70rem 0; }
  .event_left {
    background-image: url(../img/postermeeting.jpeg);
    padding: 30rem 20rem;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.658); }
  .event_right {
    padding: 5rem 5rem 10rem 15rem;
    position: absolute;
    top: 44%;
    z-index: 1;
    width: 60%;
    left: 35%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.651);
    background-color: #e4e2e2; }

.wow-slider {
  padding: 7rem 0;
  background-color: #f8f9fa;
  margin-bottom: -6rem; }

.team {
  background-color: #f5f7fb;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem; }
  .team_card {
    padding: 3rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
    border-radius: 1rem;
    transition: all 0.3s; }
    .team_card:hover {
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.397);
      transform: translateY(-0.75rem); }
    @media (max-width: 1380px) {
      .team_card .p {
        font-size: 2rem; }
      .team_card .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .team_img {
    display: inline-block;
    height: 12rem;
    width: 12rem;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 2.3rem; }
  .team_img1 {
    background-image: url(../img/team/prakhar.jpeg);
    background-size: 100% 100%; }
  .team_img2 {
    background-image: url(../img/team/venu.jpeg);
    background-size: 100% 100%; }
  .team_img3 {
    background-image: url(../img/team/shagun.jpeg);
    background-size: 100% 100%; }
  .team_img4 {
    background-image: url(../img/team/mahavir.jpeg);
    background-size: 100% 100%; }
  .team_img5 {
    background-image: url(../img/team/aditya.jpeg);
    background-size: 100% 100%; }
  .team_img6 {
    background-image: url(../img/team/prabhsimran.jpeg);
    background-size: 100% 100%; }
  .team_img7 {
    background-image: url(../img/team/sirish.jpeg);
    background-size: 100% 100%; }
  .team_img8 {
    background-image: url(../img/team/kashika.jpeg);
    background-size: 100% 100%; }
  .team_img9 {
    background-image: url(../img/team/vaibhav.jpeg);
    background-size: 100% 100%; }

.heading-team {
  font-size: 2.16rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 1rem; }

.grey {
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: 1.2rem !important;
  font-size: 1.5rem !important; }

.designation {
  font-size: 1.7rem !important;
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: 1.35rem !important; }

.countdown {
  position: relative;
  background-color: white;
  padding: 10rem;
  display: flex; }
  @media (max-width: 75em) {
    .countdown {
      transform: translateY(-22rem); } }
  @media (max-width: 1380px) {
    .countdown .p {
      font-size: 2rem; }
    .countdown .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .countdown {
      transform: translateY(-11rem);
      padding: 5.6rem; } }
  @media (max-width: 1380px) {
    .countdown .p {
      font-size: 2rem; }
    .countdown .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 1380px) {
    .countdown {
      padding-right: 1rem; } }
  @media (max-width: 1380px) {
    .countdown .p {
      font-size: 2rem; }
    .countdown .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .countdown_row {
    border-radius: 1rem;
    position: absolute;
    top: -1.6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.267);
    padding: 5.7rem 0rem 5.5rem 0rem;
    background-color: white;
    width: 100%; }
    @media (max-width: 56.25em) {
      .countdown_row {
        padding: 4rem 0 4rem 0; } }
    @media (max-width: 1380px) {
      .countdown_row .p {
        font-size: 2rem; }
      .countdown_row .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .countdown_col1 {
    padding-right: 6rem; }
    @media (max-width: 1380px) {
      .countdown_col1 {
        padding-right: 1rem; } }
    @media (max-width: 1380px) {
      .countdown_col1 .p {
        font-size: 2rem; }
      .countdown_col1 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .countdown_col2 {
    padding-left: 6rem; }
    @media (max-width: 56.25em) {
      .countdown_col2 {
        padding-left: 0rem; } }
    @media (max-width: 1380px) {
      .countdown_col2 .p {
        font-size: 2rem; }
      .countdown_col2 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }

#clock {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-top: 4rem; }
  @media (max-width: 75em) {
    #clock {
      justify-content: space-evenly;
      margin-top: 0rem;
      transform: translateX(3rem); } }
  @media (max-width: 1380px) {
    #clock .p {
      font-size: 2rem; }
    #clock .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    #clock {
      margin-top: -2rem;
      margin-right: 4rem; } }
  @media (max-width: 1380px) {
    #clock .p {
      font-size: 2rem; }
    #clock .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  #clock div {
    margin: 2rem; }
  #clock div span:nth-child(1) {
    display: block;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: grey; }
  #clock div span:nth-child(2) {
    display: block;
    font-size: 1.6rem;
    color: grey;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  backface-visibility: hidden; }

html {
  font-size: 62.5%;
  backface-visibility: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 60.25%; } }
  @media (max-width: 1380px) {
    html .p {
      font-size: 2rem; }
    html .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 1380px) {
    html .p {
      font-size: 2rem; }
    html .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.625%; } }
  @media (max-width: 1380px) {
    html .p {
      font-size: 2rem; }
    html .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 22.2em) {
    html {
      font-size: 35.625%; } }
  @media (max-width: 1380px) {
    html .p {
      font-size: 2rem; }
    html .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 1380px) {
    html .p {
      font-size: 2rem; }
    html .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-size: cover;
  backface-visibility: hidden; }

.popup_image {
  transition: all 0.4s; }

@media (max-width: 37.5em) {
  .footer-box1 {
    margin-left: 3.5rem; } }

@media (max-width: 1380px) {
  .footer-box1 .p {
    font-size: 2rem; }
  .footer-box1 .para {
    font-size: 1.5rem;
    margin-right: 1rem; } }

@media (max-width: 37.5em) {
  .footer-box2 {
    margin-left: 3.5rem; } }

@media (max-width: 1380px) {
  .footer-box2 .p {
    font-size: 2rem; }
  .footer-box2 .para {
    font-size: 1.5rem;
    margin-right: 1rem; } }

@media (max-width: 37.5em) {
  .footer-box3 {
    margin-left: 3.5rem; } }

@media (max-width: 1380px) {
  .footer-box3 .p {
    font-size: 2rem; }
  .footer-box3 .para {
    font-size: 1.5rem;
    margin-right: 1rem; } }

@media (max-width: 37.5em) {
  .footer-box4 {
    margin-left: 3.5rem; } }

@media (max-width: 1380px) {
  .footer-box4 .p {
    font-size: 2rem; }
  .footer-box4 .para {
    font-size: 1.5rem;
    margin-right: 1rem; } }

.footer_text {
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-bottom: 0.6px dotted gray;
  padding: 1rem; }

.footer_para {
  color: whitesmoke;
  line-height: 2rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  font-family: 'Signika';
  display: inline-block; }
  @media (max-width: 1380px) {
    .footer_para .p {
      font-size: 2rem; }
    .footer_para .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.row {
  max-width: 120rem;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 8rem; }
  @media (max-width: 75em) {
    .row {
      max-width: 65rem; } }
  @media (max-width: 1380px) {
    .row .p {
      font-size: 2rem; }
    .row .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem; } }
  @media (max-width: 1380px) {
    .row .p {
      font-size: 2rem; }
    .row .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 50rem; } }
  @media (max-width: 1380px) {
    .row .p {
      font-size: 2rem; }
    .row .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.col-1-of-2 {
  width: 57rem;
  float: left; }
  @media (max-width: 1500px) {
    .col-1-of-2 {
      width: 52.5rem; } }
  @media (max-width: 1380px) {
    .col-1-of-2 .p {
      font-size: 2rem; }
    .col-1-of-2 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 1380px) {
    .col-1-of-2 {
      width: 47rem; } }
  @media (max-width: 1380px) {
    .col-1-of-2 .p {
      font-size: 2rem; }
    .col-1-of-2 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .col-1-of-2:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 75em) {
      .col-1-of-2:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }
    @media (max-width: 1380px) {
      .col-1-of-2:not(:last-child) .p {
        font-size: 2rem; }
      .col-1-of-2:not(:last-child) .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  @media (max-width: 75em) {
    .col-1-of-2 {
      width: 100% !important; } }
  @media (max-width: 1380px) {
    .col-1-of-2 .p {
      font-size: 2rem; }
    .col-1-of-2 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.col-1-of-4 {
  max-width: 25.5rem;
  float: left;
  width: 100% !important; }
  @media (max-width: 75em) {
    .col-1-of-4 {
      width: 100% !important; } }
  @media (max-width: 1380px) {
    .col-1-of-4 .p {
      font-size: 2rem; }
    .col-1-of-4 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .col-1-of-4:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 75em) {
      .col-1-of-4:not(:last-child) {
        margin-right: 0;
        width: 100% !important;
        margin-bottom: 6rem; } }
    @media (max-width: 1380px) {
      .col-1-of-4:not(:last-child) .p {
        font-size: 2rem; }
      .col-1-of-4:not(:last-child) .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }

.col-1-of-3 {
  width: 36rem;
  float: left; }
  @media (max-width: 75em) {
    .col-1-of-3 {
      width: 100% !important; } }
  @media (max-width: 1380px) {
    .col-1-of-3 .p {
      font-size: 2rem; }
    .col-1-of-3 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .col-1-of-3:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 75em) {
      .col-1-of-3:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }
    @media (max-width: 1380px) {
      .col-1-of-3:not(:last-child) .p {
        font-size: 2rem; }
      .col-1-of-3:not(:last-child) .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }

.popup {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup_left {
    width: 33.33333333334%;
    vertical-align: top;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup_left {
        width: 0%; } }
    @media (max-width: 1380px) {
      .popup_left .p {
        font-size: 2rem; }
      .popup_left .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .popup_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup_right {
        width: 100%; } }
    @media (max-width: 1380px) {
      .popup_right .p {
        font-size: 2rem; }
      .popup_right .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .popup_cross:link, .popup_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: white;
    font-weight: 800;
    position: absolute;
    top: 0.7rem;
    right: 5rem; }
    @media (max-width: 56.25em) {
      .popup_cross:link, .popup_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
    @media (max-width: 1380px) {
      .popup_cross:link .p, .popup_cross:visited .p {
        font-size: 2rem; }
      .popup_cross:link .para, .popup_cross:visited .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .popup_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup_img {
        display: none; } }
    @media (max-width: 1380px) {
      .popup_img .p {
        font-size: 2rem; }
      .popup_img .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .popup_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 600;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
    @media (max-width: 1380px) {
      .popup_paragraph .p {
        font-size: 2rem; }
      .popup_paragraph .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .popup_heading {
      text-align: center; } }
  @media (max-width: 1380px) {
    .popup_heading .p {
      font-size: 2rem; }
    .popup_heading .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

::selection {
  color: red; }

.apply {
  padding: 1.5rem 2.3rem;
  background-color: gray;
  color: black;
  font-size: 1.6rem;
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 100%;
  right: 5%; }
  .apply:hover {
    color: white;
    background-color: red; }

.heading-main {
  font-weight: 400;
  font-size: 5rem;
  color: #3b3b3b;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  font-family: "Signika", "Amaranth";
  border-bottom: 1.2px solid grey;
  padding-bottom: 1rem; }
  @media (max-width: 75em) {
    .heading-main {
      text-align: center; } }
  @media (max-width: 1380px) {
    .heading-main .p {
      font-size: 2rem; }
    .heading-main .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.paragraph {
  font-size: 1.75rem;
  font-family: "Signika", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #555555;
  line-height: 3rem; }
  @media (max-width: 75em) {
    .paragraph {
      text-align: center; } }
  @media (max-width: 1380px) {
    .paragraph .p {
      font-size: 2rem; }
    .paragraph .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .paragraph {
      font-size: 1.8rem !important; } }
  @media (max-width: 1380px) {
    .paragraph .p {
      font-size: 2rem; }
    .paragraph .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 1380px) {
    .paragraph {
      text-align: center;
      line-height: 2.6rem;
      font-size: 1.4rem; } }
  @media (max-width: 1380px) {
    .paragraph .p {
      font-size: 2rem; }
    .paragraph .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.events_para {
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: -2rem; }

.event_text {
  text-align: center; }

.heading-secondary {
  display: inline-block;
  font-weight: 400;
  font-size: 3.8rem;
  margin-top: 3rem;
  font-family: "Signika", sans-serif;
  margin-bottom: 5rem;
  transition: all 0.3s;
  /* &:hover{
transform:  scale(1.3);
text-shadow: 1rem 3rem 5rem
rgba(0, 0, 0, 0.349);

} */ }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-weight: 400;
      margin-bottom: 3rem; } }
  @media (max-width: 1380px) {
    .heading-secondary .p {
      font-size: 2rem; }
    .heading-secondary .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-weight: 300;
      margin-bottom: 2rem; } }
  @media (max-width: 1380px) {
    .heading-secondary .p {
      font-size: 2rem; }
    .heading-secondary .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.footer {
  background-color: #292825;
  padding: 13rem 0 2rem 0;
  font-family: "Signika", "Amaranth";
  font-size: 1.7rem; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 15rem 0 0.5rem 0; } }
  @media (max-width: 1380px) {
    .footer .p {
      font-size: 2rem; }
    .footer .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .footer_logo-box {
    margin-top: -16rem;
    text-align: center;
    padding: 5rem; }
  .footer_logo {
    height: auto;
    width: 18rem; }
  @media (max-width: 56.25em) {
    .footer {
      display: block; } }
  @media (max-width: 1380px) {
    .footer .p {
      font-size: 2rem; }
    .footer .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.copyright {
  border-top: 1.5px dotted grey;
  padding-top: 1rem;
  font-family: "Signika", "Amaranth"; }
  .copyright_text {
    text-align: center;
    font-size: 1.5rem;
    color: lightgrey;
    display: block;
    font-weight: 500; }
    @media (max-width: 56.25em) {
      .copyright_text {
        font-weight: 400;
        letter-spacing: 0; } }
    @media (max-width: 1380px) {
      .copyright_text .p {
        font-size: 2rem; }
      .copyright_text .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .copyright_span {
    display: block;
    right: 0; }
  .copyright_link:link, .copyright_link:visited {
    text-decoration: none;
    color: tan;
    transition: all 0.2s; }
  .copyright_link:hover, .copyright_link:active {
    color: white;
    transform: scale(1.1); }

.center {
  text-align: center; }
  @media (max-width: 56.25em) {
    .center {
      margin-bottom: 2rem; } }
  @media (max-width: 1380px) {
    .center .p {
      font-size: 2rem; }
    .center .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.youtube {
  text-align: center;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .youtube {
      height: 220px;
      width: 310px;
      margin-top: 2rem; } }
  @media (max-width: 1380px) {
    .youtube .p {
      font-size: 2rem; }
    .youtube .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

@media (max-width: 56.25em) {
  .width {
    width: 80%;
    margin: 0 auto; } }

@media (max-width: 1380px) {
  .width .p {
    font-size: 2rem; }
  .width .para {
    font-size: 1.5rem;
    margin-right: 1rem; } }

@media (max-width: 56.25em) {
  .phone_center {
    margin-top: -8rem;
    margin-left: 21rem; } }

@media (max-width: 1380px) {
  .phone_center .p {
    font-size: 2rem; }
  .phone_center .para {
    font-size: 1.5rem;
    margin-right: 1rem; } }

.u-centre {
  text-align: center; }

.achievements {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 7rem 0; }
  @media (max-width: 56.25em) {
    .achievements {
      width: 87%;
      margin: 0 auto; } }
  @media (max-width: 1380px) {
    .achievements .p {
      font-size: 2rem; }
    .achievements .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .achievements_text {
    text-align: center;
    font-size: 1.8rem;
    font-family: "Signika", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.904);
    padding: 2rem;
    transform: translateY(-6.4rem);
    opacity: 0.87; }
    @media (max-width: 56.25em) {
      .achievements_text {
        width: 91%;
        padding: 1rem;
        font-size: 1.5rem;
        transform: translateY(-4.1rem); } }
    @media (max-width: 1380px) {
      .achievements_text .p {
        font-size: 2rem; }
      .achievements_text .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .achievements_box1 {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.253);
    padding: 5rem;
    background-color: rgba(236, 233, 233, 0.76);
    transition: all 0.3s; }
    .achievements_box1:hover {
      transform: scale(1.05); }
    @media (max-width: 56.25em) {
      .achievements_box1 {
        padding: 3rem; } }
    @media (max-width: 1380px) {
      .achievements_box1 .p {
        font-size: 2rem; }
      .achievements_box1 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1500px) {
      .achievements_box1 {
        padding: 4rem; } }
    @media (max-width: 1380px) {
      .achievements_box1 .p {
        font-size: 2rem; }
      .achievements_box1 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1380px) {
      .achievements_box1 {
        padding: 3.5rem; } }
    @media (max-width: 1380px) {
      .achievements_box1 .p {
        font-size: 2rem; }
      .achievements_box1 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .achievements_box2 {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.253);
    padding: 5rem;
    background-color: rgba(236, 233, 233, 0.76);
    transition: all 0.3s; }
    .achievements_box2:hover {
      transform: scale(1.05); }
    @media (max-width: 56.25em) {
      .achievements_box2 {
        padding: 3rem; } }
    @media (max-width: 1380px) {
      .achievements_box2 .p {
        font-size: 2rem; }
      .achievements_box2 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1500px) {
      .achievements_box2 {
        padding: 4rem; } }
    @media (max-width: 1380px) {
      .achievements_box2 .p {
        font-size: 2rem; }
      .achievements_box2 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1380px) {
      .achievements_box2 {
        padding: 3.5rem; } }
    @media (max-width: 1380px) {
      .achievements_box2 .p {
        font-size: 2rem; }
      .achievements_box2 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .achievements_box3 {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.253);
    padding: 5rem;
    transition: all 0.3s;
    background-color: rgba(236, 233, 233, 0.76); }
    .achievements_box3:hover {
      transform: scale(1.05); }
    @media (max-width: 56.25em) {
      .achievements_box3 {
        padding: 3rem; } }
    @media (max-width: 1380px) {
      .achievements_box3 .p {
        font-size: 2rem; }
      .achievements_box3 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1500px) {
      .achievements_box3 {
        padding: 4rem; } }
    @media (max-width: 1380px) {
      .achievements_box3 .p {
        font-size: 2rem; }
      .achievements_box3 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1380px) {
      .achievements_box3 {
        padding: 3.5rem; } }
    @media (max-width: 1380px) {
      .achievements_box3 .p {
        font-size: 2rem; }
      .achievements_box3 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
  .achievements_box4 {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.253);
    transition: all 0.3s;
    padding: 5rem;
    background-color: rgba(236, 233, 233, 0.76); }
    .achievements_box4:hover {
      transform: scale(1.05); }
    @media (max-width: 56.25em) {
      .achievements_box4 {
        padding: 3rem; } }
    @media (max-width: 1380px) {
      .achievements_box4 .p {
        font-size: 2rem; }
      .achievements_box4 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1500px) {
      .achievements_box4 {
        padding: 4rem; } }
    @media (max-width: 1380px) {
      .achievements_box4 .p {
        font-size: 2rem; }
      .achievements_box4 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1380px) {
      .achievements_box4 {
        padding: 3.5rem; } }
    @media (max-width: 1380px) {
      .achievements_box4 .p {
        font-size: 2rem; }
      .achievements_box4 .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }

#award1 {
  background-image: url(../img/achievements/1.jpg); }

#award2 {
  background-image: url(../img/achievements/2.jpg); }

#award3 {
  background-image: url(../img/achievements/3.jpg); }

#award4 {
  background-image: url(../img/achievements/4.jpg); }

.story {
  transform: skewX(0deg); }
  .story_shape {
    padding: 7rem;
    height: 10rem;
    width: 10rem;
    background-image: url(../img/aditya.jpeg);
    background-size: 100% 100%;
    float: left;
    margin-right: 1rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1.5rem); }
    .story_shape:hover {
      filter: blur(1px) brightness(80%); }
    @media (max-width: 1500px) {
      .story_shape {
        height: 6rem;
        width: 6rem;
        transform: translateX(-1.4rem) translateY(1.7rem); } }
    @media (max-width: 1380px) {
      .story_shape .p {
        font-size: 2rem; }
      .story_shape .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 1380px) {
      .story_shape {
        height: 4rem;
        width: 4rem;
        margin-right: 0.4rem;
        transform: translateX(-1.7rem) translateY(1.9rem); } }
    @media (max-width: 1380px) {
      .story_shape .p {
        font-size: 2rem; }
      .story_shape .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 75em) {
      .story_shape {
        padding: 5rem;
        height: 9rem;
        width: 9rem;
        transform: translateX(-1rem) translateY(1rem); } }
    @media (max-width: 1380px) {
      .story_shape .p {
        font-size: 2rem; }
      .story_shape .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 56.25em) {
      .story_shape {
        padding: 2rem;
        height: 9rem;
        width: 9rem;
        transform: translateX(-1rem) translateY(1.5rem); } }
    @media (max-width: 1380px) {
      .story_shape .p {
        font-size: 2rem; }
      .story_shape .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
    @media (max-width: 37.5em) {
      .story_shape {
        height: 8rem;
        width: 8rem;
        padding: 1.5rem;
        margin-right: 0.2rem;
        transform: translateX(-1.4rem) translateY(1.7rem); } }
    @media (max-width: 1380px) {
      .story_shape .p {
        font-size: 2rem; }
      .story_shape .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }

.heading-small {
  font-size: 2.5rem;
  color: #353535;
  margin-bottom: 1.1rem;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  @media (max-width: 1380px) {
    .heading-small {
      text-align: center; } }
  @media (max-width: 1380px) {
    .heading-small .p {
      font-size: 2rem; }
    .heading-small .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 75em) {
    .heading-small {
      text-align: center; } }
  @media (max-width: 1380px) {
    .heading-small .p {
      font-size: 2rem; }
    .heading-small .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .heading-small {
      text-align: center; } }
  @media (max-width: 1380px) {
    .heading-small .p {
      font-size: 2rem; }
    .heading-small .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.prize {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }

.prize1 {
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .prize1 {
      height: 160px;
      width: 160px; } }
  @media (max-width: 1380px) {
    .prize1 .p {
      font-size: 2rem; }
    .prize1 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .prize1:hover {
    filter: opacity(0.7); }

.prize2 {
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .prize2 {
      width: 160px;
      height: 160px; } }
  @media (max-width: 1380px) {
    .prize2 .p {
      font-size: 2rem; }
    .prize2 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .prize2:hover {
    filter: opacity(0.7); }

.prize3 {
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .prize3 {
      height: 160px;
      width: 160px; } }
  @media (max-width: 1380px) {
    .prize3 .p {
      font-size: 2rem; }
    .prize3 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .prize3:hover {
    filter: opacity(0.7); }

.prize4 {
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .prize4 {
      height: 160px;
      width: 160px; } }
  @media (max-width: 1380px) {
    .prize4 .p {
      font-size: 2rem; }
    .prize4 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .prize4:hover {
    filter: opacity(0.7); }

.skew {
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .skew {
      transform: skewX(-10deg); } }
  @media (max-width: 1380px) {
    .skew .p {
      font-size: 2rem; }
    .skew .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .skew:hover {
    transform: scale(1.045) skewX(-12deg); }

.skew1 {
  transform: skewX(12deg); }
  @media (max-width: 56.25em) {
    .skew1 {
      transform: skewX(10deg); } }
  @media (max-width: 1380px) {
    .skew1 .p {
      font-size: 2rem; }
    .skew1 .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.section-about {
  background-color: #ffffff;
  padding: 30rem 0 1rem 0;
  margin-top: -30vh; }
  @media (max-width: 75em) {
    .section-about {
      padding: 25rem 0 1rem 0; } }
  @media (max-width: 1380px) {
    .section-about .p {
      font-size: 2rem; }
    .section-about .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 34rem 0 1rem 0; } }
  @media (max-width: 1380px) {
    .section-about .p {
      font-size: 2rem; }
    .section-about .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 37rem 0 1rem 0; } }
  @media (max-width: 1380px) {
    .section-about .p {
      font-size: 2rem; }
    .section-about .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.header_logo-box {
  padding: 3rem;
  position: absolute;
  top: 2rem;
  left: 2rem; }

.header {
  background-image: linear-gradient(to left, rgba(167, 29, 50, 0.705), rgba(63, 13, 18, 0.705)), url(../img/header.jpg);
  height: 104.5vh;
  width: 100%;
  background-size: cover;
  background-position: top; }
  @media (max-width: 56.25em) {
    .header {
      height: 109vh; } }
  @media (max-width: 1380px) {
    .header .p {
      font-size: 2rem; }
    .header .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.follow_us {
  text-align: start;
  color: white;
  font-size: 2.5rem;
  margin-left: 4rem;
  margin-top: 4rem; }

.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
  color: white;
  font-family: "Signika", Verdana, sans-serif; }
  @media (max-width: 75em) {
    .nav {
      opacity: 0;
      visibility: none;
      display: none; } }
  @media (max-width: 1380px) {
    .nav .p {
      font-size: 2rem; }
    .nav .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }
  .nav_list {
    list-style: none;
    margin-top: 1rem; }
  .nav_links {
    display: inline-block;
    margin-top: -0.3em;
    font-family: "Signika", Verdana, sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 400; }
    .nav_links:hover {
      color: black;
      transform: translateY(-0.2rem); }
    .nav_links:not(:last-child) {
      margin-right: 3rem;
      padding-right: 1em; }
  .nav_logo {
    margin-left: 2.5rem;
    margin-top: -1.2rem; }

.login {
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 0.2rem;
  border-radius: 10rem;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: white; }
  .login:hover {
    color: black; }

.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .social_icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.2rem;
    width: 50px;
    height: 50px;
    align-self: stretch;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1.5rem;
    border: 1px solid #fff;
    margin-right: 3rem;
    color: #fff;
    border-radius: 50%; }
    @media (max-width: 56.25em) {
      .social_icons {
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        width: 30px;
        height: 30px;
        font-size: 1.6rem; } }
    @media (max-width: 1380px) {
      .social_icons .p {
        font-size: 2rem; }
      .social_icons .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  font-family: "Signika", Verdana, sans-serif;
  z-index: 10000000000000;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.3rem;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2.6rem;
  margin-left: 50px; }

#main {
  transition: margin-left 0.5s;
  padding: 2.1rem;
  background-color: black;
  position: relative;
  width: inherit;
  z-index: 10000;
  display: none;
  opacity: 0;
  visibility: hidden; }
  @media (max-width: 75em) {
    #main {
      opacity: 1;
      visibility: visible;
      display: unset;
      background-color: black; } }
  @media (max-width: 1380px) {
    #main .p {
      font-size: 2rem; }
    #main .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.hamburger {
  opacity: 0;
  visibility: hidden;
  display: none;
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  z-index: 99; }
  @media (max-width: 75em) {
    .hamburger {
      opacity: 1;
      visibility: visible;
      display: inline-block;
      background-color: black;
      color: white; } }
  @media (max-width: 1380px) {
    .hamburger .p {
      font-size: 2rem; }
    .hamburger .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

@media (max-width: 75em) {
  .logo_phone {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif; } }

@media (max-width: 1380px) {
  .logo_phone .p {
    font-size: 2rem; }
  .logo_phone .para {
    font-size: 1.5rem;
    margin-right: 1rem; } }

.navigation_list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  @media (max-width: 56.25em) {
    .navigation_list {
      text-align: start; } }
  @media (max-width: 1380px) {
    .navigation_list .p {
      font-size: 2rem; }
    .navigation_list .para {
      font-size: 1.5rem;
      margin-right: 1rem; } }

.navigation_item {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.8rem;
  width: 100%; }

.material-icons {
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .material-icons:hover {
    color: black; }

.nav_tff {
  text-align: start;
  color: white;
  font-size: 2.7rem;
  margin-left: 4rem;
  margin-bottom: 4rem;
  font-family: "Signika"; }

.navigation_link:link, .navigation_link:visited {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  margin: 2rem;
  padding: 1rem 2rem;
  transition: all 0.4s; }

.navigation_link:hover, .navigation_link:active {
  color: gray;
  background-position: 100%; }

.nav_logos {
  background-image: none;
  margin-top: 3.5rem; }

.header_content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header_content_main {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 4.4rem;
    margin-top: -9rem;
    margin-left: -1.5rem;
    font-family: "Signika"; }
  .header_content_small {
    color: white;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 2.1rem;
    margin-left: -1.5rem;
    font-weight: 550;
    font-family: "Signika";
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem; }
    @media (max-width: 56.25em) {
      .header_content_small {
        opacity: 0;
        visibility: hidden; } }
    @media (max-width: 1380px) {
      .header_content_small .p {
        font-size: 2rem; }
      .header_content_small .para {
        font-size: 1.5rem;
        margin-right: 1rem; } }
