<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div class="footer">
      <div class="footer-content">
          <div class="footer-section about">
              <h2>About</h2>
              <br>
              <ul>
                  <a >
                      <li onclick="about()">About</li>
                  </a>
                  <a  >
                      <li onclick="contact()">Contact</li>
                  </a>
                  <a href="#">
                      <!-- <li>Careers</li> -->
                  </a>
                  <a href="#">
                      <!-- <li>Our Team</li> -->
                  </a>

              </ul>
          </div>
          <div class="footer-section social">
              <h2>Social</h2>
              <br>
              <ul>
                  <a href="https://twitter.com/">
                      <li>
                          <!-- <i class="fab fa-twitter"></i> -->
                          Twitter</li>
                  </a>
                  <a href="https://www.facebook.com/">
                      <li>
                          <!-- <i class="fab fa-facebook-f"></i> -->
                          Facebook</li>
                  </a>
                  <a href="https://twitter.com/">
                      <li>
                          <!-- <i class="fab fa-instagram"></i> -->
                          Instagram</li>
                  </a>
              </ul>
          </div>
          <div class="footer-section policy">
              <h2>Policy</h2>
              <br>
              <ul>
                  <a >
                      <li onclick="terms()">Terms and Conditions</li>
                  </a>
                  <a >
                      <li onclick="privacy()">Privacy Policy</li>
                  </a>
              </ul>
          </div>
          <!-- <div class="footer-section help">
              <h2>Help</h2>
              <br>
              <ul>
                  <a href="#">
                      <li>How to Post a Deal</li>
                  </a>
                  <a href="#">
                      <li>FAQ</li>
                  </a>
                  <a href="#">
                      <li>Report</li>
                  </a>
              </ul>
          </div> -->
      </div>
      <div class="footer-bottom">
          <hr>
          </hr>
          &copy; 2020, Your Deal Inc.

      </div>
  </div>
</body>
</html>