<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>

   <header>
      <div class="header">
         <!-- <img src="/backend/public/images/logo.svg" alt="logo" class="logo"> -->
         <h2 class="heading-normal"><a href="/">Affiliate</a></h2>
         <form action="/" method="GET">
            <input type="text" name="search" id="search" placeholder="Search">
         </form>
         <ul class="nav-links">
            <li><a href="#">Saved Deals</a></li>
            <li><a href="/newDeal">Post a Deal</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
         </ul>
      </div>
   </header>

</body>

</html>