<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body onload="openSidebar()">

   <script>
      const openSidebar = (event) => {
         w3_open();
         document.getElementById('openBar').style.display = 'none';
         document.getElementById('closeBar').style.display = 'block'; 
      }
      const closeSidebar = (event) => {
         w3_close();
         document.getElementById('closeBar').style.display = 'none';  
         document.getElementById('openBar').style.display = 'block'; 
      }
   </script>

   <header>
      <div class="header">

        <div class="w3-teal" id="openBar">
         <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="openSidebar()">&#9776;</button>
        </div>

        <div class="w3-teal" id="closeBar">
         <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="closeSidebar()">&#9776;</button>
        </div>
         <h2 class="heading-normal"><a href="/">Affiliate</a></h2>
         <form action="/" method="GET">
            <input type="text" name="search" id="search" placeholder="Search">
         </form>
         <ul class="nav-links">
            <li><a href="#">Saved Deals</a></li>
            <li><a href="/newDeal">Post a Deal</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
         </ul>
      </div>
   </header>

</body>

</html>