<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/fdec90a950.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>

  <body>
    <!-- <script>
      const openSidebar = (event) => {
         w3_open();
         document.getElementById('openBar').style.display = 'none';
         document.getElementById('closeBar').style.display = 'block'; 
      }
      const closeSidebar = (event) => {
         w3_close();
         document.getElementById('closeBar').style.display = 'none';  
         document.getElementById('openBar').style.display = 'block'; 
      }
   </script> -->

    <section
      class="header"
      style="position: fixed !important;z-index:10;width:100% !important"
    >
      <a href="/">
        <div class="title">
          <img src="/img/favicon.png" alt="Logo" class="logo" />
          <h2 class="heading-normal">Affiliate</h2>
        </div>
      </a>

      <div>
        <i class="fas fa-th"></i>
        <div style="margin: 5px; display: inline;">Categories</div>
      </div>

      <form action="/" method="GET" class="search" id="searchx">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search"
          class="search__input"
        />
        <button class="search__button">
          <i class="fas fa-search search-icon"></i>
        </button>
      </form>

      <nav class="user-nav">
        <form action="/" method="GET" class="sortx">
          <select class="sort-drop" name="sort" onchange="this.form.submit()">
            <option selected disabled value="empty"
              >--Choose Parameter--</option
            >
            <option value="mrp">mrp</option>
            <option value="views">views</option>
          </select>
          <div>SortBy</div>
        </form>

        <div>
          <i class="fas fa-fire"></i>
          <div style="margin: 5px;">Trending</div>
        </div>

        <a href="/newDeal">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <i class="fas fa-plus"></i>
            <div style="margin: 5px;">Post a Deal</div>
          </div>
        </a>

        <div class="user-nav__icon-box">
          <i class="fas fa-bell"></i>
          <span class="user-nav__notification">7</span>
        </div>

<<<<<<< HEAD
        <a href="/member/5e7f34cd8772f72fe44cda2a">
          <div class="user-nav__user">
            <img
              src="/img/user.jpg"
              alt="User photo"
              class="user-nav__user-photo"
            />
            <span class="user-nav__user-name">NJ</span>
          </div>
        </a>

=======
        <div class="user-nav__user">
          <% if (user) { %> <% if (user.photo) { %> <img src=<%=
          `/img/users/${user.photo}` %> alt="User photo"
          class="user-nav__user-photo" /> <% } else { %> <img data-name=<%=
          user.name %> data-color="#85e0ce" class="profile user-nav__user-photo"
          /> <% } %> <% } else { %>

          <span class="user-nav__user-name">NJ</span>
          <% } %>
        </div>
>>>>>>> 58accfc2edec81c3f45226537861dd04727f0f40
      </nav>
    </section>
    <script src="/vendor/initial.min.js"></script>
    <script>
      $(".profile").initial();
    </script>
    <!-- <script src="/vendor/jquery.bootcomplete.js"></script>

    <script>
      (function($) {
        $(function() {
          $("#search").bootcomplete({
            url: "/search",
            method: "get",
          });
        });
      })(jQuery);
    </script> -->
    <!-- <script>
      $(function() {
        $("#search").autocomplete({
          source: function(req, res) {
            $.ajax({
              url: "/search",
              dataType: "json",
              type: "GET",
              data: req,
              success: function(data) {
                console.log(data);
              },
              error: function(err) {
                console.log(err.status);
              },
            });
          },
          minLength: 1,
          select: function(event, ui) {
            if (ui.item) {
              $("#search").text(ui.item.label);
            }
          },
        });
      });
    </script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      $(function() {
        $("#search").autocomplete({
          source: function(request, response) {
            $.ajax({
              url: "/search",
              type: "GET",
              data: request, // request is the value of search input
              success: function(data) {
                // Map response values to fiedl label and value
                response(
                  $.map(data, function(el) {
                    return {
                      label: el.dealName,
                      value: el._id,
                    };
                  })
                );
              },
            });
          },

          // The minimum number of characters a user must type before a search is performed.
          minLength: 2,

          // set an onFocus event to show the result on input field when result is focused
          focus: function(event, ui) {
            this.value = ui.item.label;
            // Prevent other event from not being execute
            event.preventDefault();
          },
          select: function(event, ui) {
            // Prevent value from being put in the input:
            this.value = ui.item.label;
            // Set the id to the next input hidden field
            $(this)
              .next("input")
              .val(ui.item.value);
            // Prevent other event from not being execute
            event.preventDefault();
            // optionnal: submit the form after field has been filled up
            $("#searchx").submit();
          },
        });
      });
    </script>
  </body>
</html>
