<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>

   <section class="container">
      <div class="side_bar">
         <div class="item">
            <h4 class="heading-normal">Trending</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal" style="border-bottom: 0.5px solid grey;"><a
                  href="/subscriptions">Subscriptions</a></h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Your Deals</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal" style="border-bottom: 0.5px solid grey;"><a href="/likedDeals">Liked Deals</a>
            </h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscription</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscription</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscription</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscription</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscription</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscription</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscriptions</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">Subscriptions</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal" style="border-top: 0.5px solid grey;">More</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">More</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">More</h4>
         </div>
         <div class="item">
            <h4 class="heading-normal">More</h4>
         </div>
      </div>
   </section>

</body>

</html>