<!DOCTYPE html>
<html>
  <body>
    <div
      class="side_bar"
      style="position: fixed !important;"
      data-simplebar-timeout="10000"
      data-simplebar
    >
      <a href=<%= `/` %> >
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-h-square font_icon"></i> Home </h4>
        </div>
      </a>
      <a href="../trending">
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-fire font_icon"></i> Hot Deals
          </h4>
        </div>
      </a>
      <a href="../subscriptions">
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-user font_icon"></i> Subscriptions
          </h4>
        </div>
      </a>
      <% if (user) { %>
        <a href=<%=`/member/${user._id}`%> >
          <div class="item2">
            <h4 class="heading-normal">
              <i class="fas fa-fire font_icon"></i> Your Deals
            </h4>
          </div>
        </a>
      <% } %>
      
      <a href="../likedDeals">
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-heart font_icon"></i> Favourites
          </h4>
        </div>
      </a>
      <a href="../likedDeals">
        <div class="item2" style="border-bottom: 1px solid rgb(212, 211, 211);">
          <h4 class="heading-normal">
            <i class="fas fa-clock font_icon"></i> Live Deals
          </h4>
        </div>
      </a>

      <% if (user) { %>
        <!-- subCommentSidebar -->
      <% } else {%>
        <h3 class="heading-normal" style="margin: 1rem 0.5rem 0.5rem 1.8rem">
          Sign in to like deals subscribe and earn
        </h3>
        <div class="deal-deets_buttons" style="border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem">
          <a href="" class="sidebar_button"> <i
            class="fas fa-user-plus "
          ></i>
         Sign Up</a>
          
        </div>
      <% } %>
    </div>

    <script src="/vendor/initial.min.js"></script>
    <script>
      $(".profile").initial();
    </script>
    <script type="text/javascript">
      var i = 0;
      function read() {
        if (!i) {
          document.getElementById("hide").style.display = "inline";
          document.getElementById("showLess").style.display = "inline";
          document.getElementById("showMore").style.display = "none";

          i = 1;
        } else {
          document.getElementById("hide").style.display = "none";
          document.getElementById("showLess").style.display = "none";
          document.getElementById("showMore").style.display = "inline";
          i = 0;
        }
      }
    </script>
  </body>
</html>
