.team {
  background-color: #f5f7fb;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  &_card {
    padding: 3rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
    border-radius: 1rem;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.397);
      transform: translateY(-0.75rem);
    }
    @include respond(tab-port) {
      // margin-left: 12.1rem;
    }
  }

  &_img {
    display: inline-block;
    height: 12rem;
    width: 12rem;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 2.3rem;
  }
  &_img1 {
    background-image: url(../img/team/prakhar.jpeg);
    background-size: 100% 100%;
  }
  &_img2 {
    background-image: url(../img/team/venu.jpeg);
    background-size: 100% 100%;
  }
  &_img3 {
    background-image: url(../img/team/shagun.jpeg);
    background-size: 100% 100%;
  }
  &_img4 {
    background-image: url(../img/team/mahavir.jpeg);
    background-size: 100% 100%;
  }
  &_img5 {
    background-image: url(../img/team/aditya.jpeg);
    background-size: 100% 100%;
  }
  &_img6 {
    background-image: url(../img/team/prabhsimran.jpeg);
    background-size: 100% 100%;
  }
  &_img7 {
    background-image: url(../img/team/sirish.jpeg);
    background-size: 100% 100%;
  }
  &_img8 {
    background-image: url(../img/team/kashika.jpeg);
    background-size: 100% 100%;
  }
  &_img9 {
    background-image: url(../img/team/vaibhav.jpeg);
    background-size: 100% 100%;
  }
}
.heading-team {
  font-size: 2.16rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 1rem;
}
.grey {
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: 1.2rem !important;
  font-size: 1.5rem !important;
}
.designation{
  font-size: 1.7rem !important;
  
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: 1.35rem !important;
}