/////////////////////////////////////////////////////////////////////////////////////////////////

.header_logo-box {
  padding: 3rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.follow_us {
  text-align: start;
  color: white;
  font-size: 2.5rem;
  margin-left: 4rem;
  margin-top: 4rem;
}

.login {
  text-decoration: none;
  // padding: 1.1rem;
  margin-right: 2rem;
  margin-top: 0.2rem;
  border-radius: 10rem;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // background-image: linear-gradient(to left,orange,rgb(200, 231, 25));
  font-size: 2rem;
  font-weight: 600;
  color: white;
  &:hover {
    // background-color: white;
    color: black;
  }
}

.nav-links li,
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  // padding: 0px 10px;
  color: black;
}

// .nav-links li:hover, a:hover {
//   color: grey;
//   background-color: white;
// }

#search {
  min-width: 300px;
}

.nav-links li {
  list-style: none;
  display: inline-block;
}
.side_bar {
  // display: flex;
  // flex-direction: column;
  width: 15%;
  background-color: rgb(241, 238, 238);
  padding-top: 7rem;
}
.item2 {
  padding: 0.5rem;
  margin-left: 1.15rem;
  display: flex;
  flex-direction: row;
  &:hover {
    background-color: lightblue;
    // color: white;
  }
}
.deal_area {
  padding-top: 6rem;
}

// .container{
//   height: 100%;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
// }

.deal_info {
  width: 35%;
  margin-left: 50rem;
  margin-top: -49rem;
}

.deal_heading {
  font-size: 25px;
}

.deal_price {
  font-size: 20px;
  margin-top: 2rem;
}
.side_deals {
  display: flex;
  flex-direction: column;
  width: 30%;
  float: right;
  background-color: white;
  padding-bottom: 5rem;
}
