.newsletter {
  margin-top: 50px;
}

.newsletter p {
  text-align: center;
  font-size: 35px;
}

.newsletter form {
  margin-top: 10px;
  text-align: center;
}

.above_newsletter {
  margin-top: 30px;
}
