.newsletter {
  margin: 50px 0px 60px 0px;
  background-image: url(/images/mail.png);
}

#newsletter_heading {
  text-align: center;
  font-size: 38px;
}

#newsletter_subtitle {
  text-align: center;
  font-size: 20px;
  color: #404040;
}

.newsletter form {
  margin-top: 30px;
  text-align: center;
}

.above_newsletter {
  margin-top: 30px;
}

.newsletter input {
  padding: 11px 0px 11px 10px;
  border-radius: 8px 0px 0px 8px;
  box-sizing: border-box;
  font-weight: 600;
  width: 300px;
  border: thin solid gray;
}

.newsletter button {
  background-color: #d13030;
  padding: 11px 30px 11px 30px;
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: thin solid white;
  display: inline-block;
  margin-left: -2.93px;
  margin-top: -1px;

  // cursor: pointer;
}

.newsletter input::placeholder {
  font-size: 15px;
  font-weight: 500;
}
