.heading-main {
  font-weight: 400;
  font-size: 5rem;
  color: rgb(59, 59, 59);
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  font-family: "Signika", "Amaranth";
  border-bottom: 1.2px solid grey;
  padding-bottom: 1rem;

  @include respond(tab-land) {
    text-align: center;
  }
}
.paragraph {
  font-size: 1.75rem;

  font-family: "Signika", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #555555;
  line-height: 3rem;
  @include respond(tab-land) {
    text-align: center;
  }
  //  @include respond(achi){
  //   text-align: center;
  //  }

  @include respond(tab-port) {
    font-size: 1.8rem !important;
  }
  @include respond(achi2) {
    text-align: center;
    line-height: 2.6rem;
    font-size: 1.4rem;
  }
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.heading-secondary {
  display: inline-block;
  font-weight: 400;
  font-size: 3.8rem;
  margin-top: 3rem;
  font-family: "Signika", sans-serif;
  // -webkit-background-clip: text;
  // color: transparent;
  //   background-image: linear-gradient(to right ,rgb(148, 148, 147), rgb(73, 73, 72));

  margin-bottom: 5rem;
  transition: all 0.3s;
  @include respond(tab-port) {
    font-weight: 400;
    margin-bottom: 3rem;
  }
  @include respond(phone) {
    font-weight: 300;
    margin-bottom: 2rem;
  }

  /* &:hover{
transform:  scale(1.3);
text-shadow: 1rem 3rem 5rem
rgba(0, 0, 0, 0.349);

} */
}

.center {
  text-align: center;

  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}
.heading-normal{
  font-size: 1.1rem;
  font-family: "Signika", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
color:rgb(19, 18, 18);
font-weight: 400;                                      
}
.content_box{
  // float: left;
  margin-left: 1rem;
  margin-top: 1.5rem;
  
}
.deal_box_nameTime{
  margin-bottom: 2rem;
}
