<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analytics</title>
    <link rel="stylesheet" href="/sass/css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %> <%- include('partials/sidebar.ejs') %>

    <form id="analyticsForm">
      <button id="copied" onclick="coping()">copy</button>
      <h1 class="Post-box-title">
        Make your own links and <span style="color: #d10024;">earn</span>
      </h1>
      <div style="margin-top: 1rem;">
        <input placeholder="Link...(Required)" id="analyticsInput" />
        <!-- <input placeholder="Campaign Source...(Required)" />
          <input placeholder="Campaign ------...(Required)" /> -->
        <button type="submit" id="analytics" class="deal-deets_subs">
          Generate
        </button>
      </div>
    </form>

    <div>
      <% for(var campaign of dataAnalytics){ %>
      <div><%= campaign.Campaign %></div>
      <div><%= campaign["New users"] %></div>
      <% } %>
    </div>

    <script>
      console.log("chal");

      document
        .getElementById("analyticsForm")
        .addEventListener("submit", (e) => {
          e.preventDefault();
          var url = document.getElementById("analyticsInput").value;
          console.log(url);

          var affURL = `${url}?utm_source=userId&utm_medium=userId&utm_campaign=userId`;
          var newDiv = document.createElement("input");
          newDiv.value = affURL;
          // var newContent = document.createTextNode(affURL);

          newDiv.classList.add("generated");
          document.body.insertBefore(newDiv, analyticsForm);
        });
    </script>
    <script>
      function coping() {
        var copyText = document.getElementsByClassName("generated");
          copyText[0].select();
          document.execCommand("copy");
      }
    </script>
  </body>
</html>
