<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analytics</title>
    <link rel="stylesheet" href="/sass/css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %> <%- include('partials/sidebar.ejs') %>

    <form id="analyticsForm">
      <button id="copied" onclick="coping()">copy</button>
      <h1 class="Post-box-title">
        Make your own links and <span style="color: #d10024;">earn</span>
      </h1>
      <div style="margin-top: 1rem;">
        <input placeholder="Link...(Required)" id="analyticsInput" />
        <!-- <input placeholder="Campaign Source...(Required)" />
          <input placeholder="Campaign ------...(Required)" /> -->
        <button type="submit" id="analytics" class="deal-deets_subs">
          Generate
        </button>
      </div>
    </form>

    <div>
      <% for(var campaign of dataAnalytics){ %>
      <div><%= campaign.Campaign %></div>
      <div><%= campaign["New users"] %></div>
      <% } %>
    </div>

    <!-- <div class="footer">
      <div class="footer-content">
          <div class="footer-section about">
              <h2>About</h2>
              <br>
              <ul>
                  <a href="#">
                      <li>About Us</li>
                  </a>
                  <a href="#">
                      <li>Contact Us</li>
                  </a>
                  <a href="#">
                      <li>Careers</li>
                  </a>
                  <a href="#">
                      <li>Our Team</li>
                  </a>

              </ul>
          </div>
          <div class="footer-section social">
              <h2>Social</h2>
              <br>
              <ul>
                  <a href="https://twitter.com/">
                      <li><i class="fab fa-twitter"></i>Twitter</li>
                  </a>
                  <a href="https://www.facebook.com/">
                      <li><i class="fab fa-facebook-f"></i>Facebook</li>
                  </a>
                  <a href="https://twitter.com/">
                      <li><i class="fab fa-instagram"></i>Instagram</li>
                  </a>
              </ul>
          </div>
          <div class="footer-section policy">
              <h2>Policy</h2>
              <br>
              <ul>
                  <a href="#">
                      <li>Terms and Conditions</li>
                  </a>
                  <a href="#">
                      <li>Privacy Policy</li>
                  </a>
              </ul>
          </div>
          <div class="footer-section help">
              <h2>Help</h2>
              <br>
              <ul>
                  <a href="#">
                      <li>How to Post a Deal</li>
                  </a>
                  <a href="#">
                      <li>FAQ</li>
                  </a>
                  <a href="#">
                      <li>Report</li>
                  </a>
              </ul>
          </div>
      </div>
      <div class="footer-bottom">
          <hr>
          </hr>
          &copy; 2020, Your Deal Inc.

      </div>
   </div> -->

    <script>
      console.log("chal");

      document
        .getElementById("analyticsForm")
        .addEventListener("submit", (e) => {
          e.preventDefault();
          var url = document.getElementById("analyticsInput").value;
          console.log(url);

          var affURL = `${url}?utm_source=userId&utm_medium=userId&utm_campaign=userId`;
          var newDiv = document.createElement("input");
          newDiv.value = affURL;
          // var newContent = document.createTextNode(affURL);

          newDiv.classList.add("generated");
          document.body.insertBefore(newDiv, analyticsForm);
        });
    </script>
    <script>
      function coping() {
        var copyText = document.getElementsByClassName("generated");
          copyText[0].select();
          document.execCommand("copy");
      }
    </script>
  </body>
</html>
