<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V1</title>
    <!-- <meta http-equiv="REFRESH" content="30" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="google-signin-client_id"
      content="881941748196-g5qm514fj2vk7kg77156rl51gn36d6e4.apps.googleusercontent.com"
    />
    <!--===============================================================================================-->
    <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico" /> -->
    <!--===============================================================================================-->
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    /> -->
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" /> -->
    <!--===============================================================================================-->
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    /> -->
    <!--===============================================================================================-->
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    /> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" href="css/icon-font.css" />
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="stylesheet" type="text/css" href="sass/css/util.css" />
    <link rel="stylesheet" type="text/css" href="sass/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="img/logo1.png" />
    <!--===============================================================================================-->
  </head>

  <body>
    <%- include('partials/navbar.ejs') %>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=1321461864731329&autoLogAppEvents=1"
    ></script>

    <script>
      function statusChangeCallback(response) {
        // Called with the results from FB.getLoginStatus().
        console.log("statusChangeCallback");
        console.log(response); // The current login status of the person.
        if (response.status === "connected") {
          // Logged into your webpage and Facebook.
          testAPI();
        } else {
          // Not logged into your webpage or we are unable to tell.
          document.getElementById("status").innerHTML =
            "Please log " + "into this webpage.";
        }
      }

      function checkLoginState() {
        // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {
          // See the onlogin handler
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId: "{app-id}",
          cookie: true, // Enable cookies to allow the server to access the session.
          xfbml: true, // Parse social plugins on this webpage.
          version: "{api-version}", // Use this Graph API version for this call.
        });

        FB.getLoginStatus(function(response) {
          // Called after the JS SDK has been initialized.
          statusChangeCallback(response); // Returns the login status.
        });
      };

      (function(d, s, id) {
        // Load the SDK asynchronously
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");

      function testAPI() {
        // Testing Graph API after login.
        //See statusChangeCallback() for  when this call is made.
        console.log("Welcome!  Fetching your information.... ");
        FB.api("/me", { fields: "name, email" }, function(response) {
          console.log(response);
          console.log("Successful login : " + response.name);

          passvaluefb(response);

          //   try {
          //         const name = response.name;
          //         const email = response.email;
          //         const password = 'password';
          //         const passwordConfirm = 'password';

          //         console.log(name);

          //         const result = await axios({
          //             method: 'POST',
          //             url: '/api/v1/users/signup',
          //             data: {
          //                 email,
          //                 name,
          //                 password,
          //                 passwordConfirm
          //             }
          //         });
          //         if (result.data.status === 'success') {
          //             alert('sign up successful');
          //             window.setTimeout(() => {
          //                 location.assign('/');
          //             }, 1000);
          //         }

          //   } catch (err) {
          //         console.log(err);
          //   }

          // document.getElementById('status').innerHTML =
          //   'Thanks for logging in, ' + response.name + '!';
        });
      }
    </script>

    <!-- <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img
              src="images/img-01.png"
              alt="IMG"
              style="margin-bottom: 10rem;"
            />
          </div>

          <form class="login100-form validate-form" id="login100-form">
            <span class="login100-form-title">
              Member Login
            </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                id="email"
                type="text"
                name="email"
                placeholder="@thapar.edu email"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                id="password"
                type="password"
                name="input100"
                placeholder="Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div class="g-signin2" data-onsuccess="onSignIn"></div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit">
                Login
              </button>
            </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                       </a>
                    </div>
          </form>
        </div>
      </div>
    </div> -->

    <section class="form_section">
      <div class="wrap">
        <h2 class="wrap_title">Your Deal</h2>
        <h4 class="wrap_subtext">
          Sign in to see the best deals from the best platforms.
        </h4>
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <fb:login-button
          scope="public_profile,email"
          onlogin="checkLoginState();"
        >
        </fb:login-button> -->

        <div
          id="GoogeSigninButton"
          data-height="40"
          data-width="372"
          data-longtitle="true"
          data-theme="dark"
          data-onsuccess="onSignIn"
          class="g-signin2"
          style="margin-top: 1.5rem;"
        ></div>

        <div
          class="fb-login-button"
          data-size="large"
          data-button-type="login_with"
          data-layout="default"
          data-auto-logout-link="false"
          data-use-continue-as="false"
          data-width="375"
          style="margin-top: 1.5rem;"
        ></div>

        <div id="status"></div>
        <!-- <button type="button" class="wrap_signup-via-google g-signin2" data-onsuccess="onSignIn">
            Continue with Google 
        </button> -->
        <hr class="hr-text" data-content="OR" />
        <form class="wrap_opt" id="signin_form">
          <!-- <input type="text" placeholder="Username" id="username" required /> -->
          <input type="text" placeholder="Email Address" id="email" required />
          <input
            type="password"
            placeholder="Password"
            id="password"
            required
          />
          <!-- <input
            type="password"
            placeholder="Password Confirm"
            id="cpassword"
            required
          /> -->
          <input type="submit" value="Sign In" id="submit" />
          <p class="wrap_signup">
            Don't have an account? <span> <a href="/signup">Sign up</a></span>
          </p>
        </form>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <!-- <script src="vendor/bootstrap/js/popper.js"></script> -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>
    <!--===============================================================================================-->

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script type="module" src="js/login.js"></script>
    <script src="js/main.js"></script>
    <script src="js/gSignup.js"></script>
  </body>
</html>
