<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliate</title>
    <link rel="stylesheet" href="sass/css/style.css">
    <link rel="shortcut icon" type="image/png" href="sass/img/Black-and-White-Logo-PNG.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162360881-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-162360881-1');
    </script>

</head>

<body>
    <header>
        <div class="header">
            <!-- <img src="/backend/public/images/logo.svg" alt="logo" class="logo"> -->
            <h2 class="heading-normal">Affiliate</h2>
            <input type="text" name="" id="search">
            <ul class="nav-links">
                <li><a href="#">Saved Deals</a></li>
                <li><a href="#">Post a Deal</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </header>
    <section class="container">
        <div class="side_bar">
            <div class="item">
                <h4 class="heading-normal">Trending</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal" style="border-bottom: 0.5px solid grey;">Subscriptions</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Your Deals</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal" style="border-bottom: 0.5px solid grey;">Liked Deals</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscription</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscription</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscription</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscription</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscription</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscription</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscription</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">Subscriptions</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal" style="border-top: 0.5px solid grey;">More</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">More</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">More</h4>
            </div>
            <div class="item">
                <h4 class="heading-normal">More</h4>
            </div>
        </div>
        <section class="deal_area">
            <a href="#" onclick="counter()">
                <div class="deal_area_box">
                    <div class="bigImg_container">
                        <div class="deal_area_box_img"></div>
                    </div>
                    <div class="deal_area_content">
                        <!-- <div class="picture_container">
                        <div class="profile_pic"></div>
                         </div> -->
                        <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                            <div class="deal_box_nameTime"
                                style="display: flex;flex-direction: row;align-items: center;justify-content: center; ">

                                <div class="deal_box_name">The Moaping Machine Extra text</div>

                            </div>
                            <div class="deal_box_nameTime"
                                style="display: flex;flex-direction: row;align-items: center; ">

                                <div class="deal_box_views">Couper Deals</div>
                                <div class="deal_box_time">Amazon</div>

                            </div>


                            <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                                <div class="deal_box_views">2000rs</div>
                                <div class="deal_box_time">80% OFF</div>
                                <div class="deal_box_time">200rs</div>
                            </div>

                            <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                                <div class="deal_box_views">1.4k views</div>
                                <div class="deal_box_time">3 days ago</div>
                            </div>
                            <div class="deal_box_description" style="display: flex; flex-direction: row;">
                                <div>80% Off only on HDFC Bank Credit Cards</div>
                            </div>
                        </div>
                    </div>

                </div>
            </a>

        </section>

</body>

</html>