<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="dealName">Deal Name:</label>
        <input type="text" name="dealName" id="dealName">
        <br>
        <label for="affiliateLink">Affiliate Link:</label>
        <input type="url" name="affiliateLink" id="affiliateLink">
        <br>
        <label for="category">Category:</label>
        <input type="text" name="category" id="category">
        <br>
        <label for="company">Company:</label>
        <input type="text" name="company" id="company">
        <br>
        <label for="mrp">MRP:</label>
        <input type="number" name="mrp" id="mrp">
        <br>
        <label for="dealPrice">Deal Price:</label>
        <input type="number" name="dealPrice" id="dealPrice">
        <br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>