<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet"> -->
        <script src="https://kit.fontawesome.com/6e422c4989.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/icon-font.css">
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" type="text/css" href="sass/css/util.css" />
        <link rel="stylesheet" type="text/css" href="sass/css/style.css" />
        <link rel="shortcut icon" type="image/png" href="img/logo1.png">
        
        <title>Your Deal| A plethora of Lightning Deals </title>
    </head>
    <body>

       
        </div>
        <%- include('partials/navbar.ejs') %>
        <!-- <div class="Navb">

            <nav>
                <h2 class="Navb_logo-text">YOUR DEAL</h2>
                <ul class="navb_opt">
                  <li class="navb_opt_1"><a href=""></li>CATEGORIES</a></li>
                  <li class="navb_opt_2"><a href="">POST</a></li>
                  <li class="navb_opt_3"><a href="">SIGNUP</a></li>
                  <li class="navb_opt_4"><a href="">LOGIN</a></li>
                </ul>

                <div class= "search-box">
                    
                    <input class="search-txt" type="text" name="" placeholder="Type to search">
                    <a class="search-btn" href="#">
                        <i class="fas fa-search"></i> </a>
                   
                         
                <!-- <ul class="social">
                  <li><a hr  ef="" class="fb">Facebook</a></li>
                  <li><a href="" class="tw">Twitter</a></li>
                </ul> -->
              </nav>
          </div> -->

          <div class="wrap">
            <h2 class="wrap_title">Your Deal</h2>
            <h4 class="wrap_subtext">Sign up to see the best deals from the best platforms.</h4>
            
            <button type="button" class="wrap_signup-via-google">
                Continue with Google 
            </button>
            <hr class="hr-text" data-content="OR">
            <form class="wrap_opt">
                <input type ="text" placeholder="Username" required>
                <input type ="text" placeholder="Email Address" required>
                <input type ="password" placeholder="Password" required>
                <input type ="password" placeholder="Password Confirm" required>
                <input type ="submit" value ="Create your account">
                <p class="wrap_signin">Already have an account? <span>
                <a href="#">Sign in</a></span>
                </p>

            </form>

          </div>

          <!-- Page wrapper -->
          <div class="page-wrapper">

          </div>
          <!-- //Page wrapper -->

        <!-- footer -->

        <!-- ALL LINKS NEED TO REPLACED AT A LATER STAGE -->
          <div class="footer"> 
              <div class="footer-content">
                <div class="footer-section about">
                    <h2>About</h2>
                    <br>
                    <ul>
                        <a href="#"><li>About Us</li></a>
                        <a href="#"><li>Contact Us</li></a>
                        <a href="#"><li>Careers</li></a>
                        <a href="#"><li>Our Team</li></a>
                    
                    </ul>
                </div>
                <div class="footer-section social">
                    <h2>Social</h2>
                    <br>
                    <ul>
                        <li class="icon-twitter"><a href="https://twitter.com/"></svg><i class="fab fa-twitter"></i>Twitter</li></a>
                        
                        <li class="icon-twitter"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i>Facebook</li></a>
                        <li class="icon-insta"></li><a href="https://twitter.com/"><i class="fab fa-instagram"></i>Instagram</li></a>
                    </ul>
                </div>
                <div class="footer-section policy">
                    <h2>Policy</h2>
                    <br>
                    <ul>
                        <a href="#"><li>Terms and Conditions</li></a>
                        <a href="#"><li>Privacy Policy</li></a>
                    </ul>
                </div>
                <div class="footer-section help">
                    <h2>Help</h2>
                    <br>
                    <ul>
                        <a href="#"><li>How to Post a Deal</li></a>
                        <a href="#"><li>FAQ</li></a>
                        <a href="#"><li>Report</li></a>
                    </ul> 
                </div>
              </div>
              <div class="footer-bottom">
                <hr> </hr>
                  &copy;  2020, Your Deal Inc.

              </div>
          </div>




         <!-- //footer -->

          <!-- <div class="sign_up-box">
              <h2>Your Deal</h2>
              <h4>Sign up to see the best deals from the best platforms</h4>

              <form>
                  <input type="text" f
              </form>


          </div> -->

        
    </body>  
</html>
