.tag-container {
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px;
  overflow-x: scroll;
}

.deleteTag {
  margin-left: 1rem;
}

.tag-container .tag {
  height: 30px;
  margin: 5px;
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  cursor: default;
}
.tag i {
  font-size: 16px;
  color: #666;
  margin-left: 0.8rem;
}
.tag-container input {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  font-family: "Rubik";
  color: #333;
  flex: 1;
}



.form_container h1 {
  text-align: center;
}

.form_container textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Bitter;
  border: 1px solid #aaaaaa;
}

.form_container select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Bitter;
  border: 1px solid #aaaaaa;
}

.form_container input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Bitter;
  border: 1px solid #aaaaaa;
}

.tab_headings {
  font-size: 15px;
}

.tab {
  display: none;
  margin-bottom: 2rem;
}

#prevBtnNewDeal {
  background-color: #1b2631;
  margin-right: 0.5rem;
}

#prevBtnNewDeal:hover {
  border: 2px solid #1b2631;
  background-color: white;
  color: #1b2631;
  padding: 8px 18px;
}

#nextBtnNewDeal:hover {
  border: 2px solid #d10024;
  background-color: white;
  color: #d10024;
  padding: 8px 18px;
}

.new_deal_button {
  background-color: #d10024;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Bitter;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 550;
}

// .new_deal_button:hover {
//   opacity: 0.8;
// }

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

.form_box {
  background-color: #f1f1f1;
  background-image: linear-gradient(to right, rgba(238, 247, 255, 0.3),rgba(238, 247, 255, 0.3)),
  url("/images/post_page5.jpg");
  background-size: cover;
  background-size: cover;
  padding: 6rem 0;
}

.form_container {
  background-color: #F2F3F4;
  box-shadow: 10px 10px 7px 8px #444040;
  margin: 0px auto;
  font-family: Bitter;
  padding: 40px;
  width: 45%;
  min-width: 300px;
  height: 80%;
  opacity: 0.8;
  // margin-top: 4rem;
}