.popup {
  //   background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  height: 50rem;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999999999999;
  // opacity: 0;
  // visibility: hidden;
  display: none;
  transition: all 0.3s;

  // &:target {
  //   opacity: 1;
  //   // animation: cssAnimation 5s forwards;
  //   visibility: visible;
  // }
  &_content {
    opacity: 1;

    background-color: white;
    overflow: hidden;
    display: table;
    border-radius: 5px;
  }
  &_left {
    width: 33.33333333334%;
    vertical-align: top;
    display: table-cell;
    @include respond(tab-port) {
      width: 0%;
    }
  }
  &_right {
    width: 66.66666667;
    @include respond(tab-port) {
      width: 100%;
    }
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem;
  }
  &_cross {
    &:link,
    &:visited {
      font-size: 4rem;
      text-decoration: none;
      color: black;
      font-weight: 800;
      position: absolute;
      top: 0.7rem;
      right: 5rem;
      @include respond(tab-port) {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }
  &_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%;
    @include respond(tab-port) {
      display: none;
    }
  }
  &_paragraph {
    column-count: 2;

    font-size: 1.7rem;
    font-weight: 600;
    @include respond(tab-port) {
      column-count: unset;
      column-rule: unset;
      column-gap: unset;
      text-align: start;
    }

    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto;
  }
  &_heading {
    @include respond(tab-port) {
      text-align: center;
    }
  }
}
@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
