@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}
@mixin respond($breakpoint) {
  @if ($breakpoint==small-phone) {
    @media (max-width: 22.2em) {
      @content;
    }
  }
  @if ($breakpoint==phone) {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if ($breakpoint==tab-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint==tab-land) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint==achi) {
    @media (max-width: 1500px) {
      @content;
    }
  }
  @if ($breakpoint==achi2) {
    @media (max-width: 1380px) {
      @content;
    }
  }
  @media (max-width: 1380px) {
    .p {
      font-size: 2rem;
    }
    .para {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
  @if ($breakpoint==big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
