//colors
$light-green: #7ed56f;
$medium-green: #55c57a;
$light-grey:#f7f7f7;
//grid
$gutter-horizontal:8rem;
//lanq
$purple: #014165;
$family:'Lucida Sans', 'Lucida Sans Regular'
'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
