.card {
  // font-family: "Signika", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  //   "Lucida Sans", Arial, sans-serif;

  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  // position: relative;
  height: 37rem;
  width: 24.75rem;
  z-index: 1;
  margin: 0 0 4rem 0rem;

  &:not(:nth-child(8n)) {
    margin-right: 5rem;
  }
}

.card__face {
  height: inherit;
  background-color: #fff;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  // -webkit-backface-visibility: hidden;
  // backface-visibility: hidden;
  border-radius: 0.5rem;
  // overflow: hidden;
  border: 1px solid #e5e7e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // z-index: 0;
  align-items: center;
  //-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.1rem 1rem rgba(52, 73, 94, 0.1);
  //    transition: all 0.3s;
  //    &:hover{
  // transform: scale(1.03);
  //    }
}

.three-dots {
  float: right;
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: block;
  &:hover {
    background-color: #fff;
  }
}

.three-dots option {
  padding: 10rem;
  background-color: #eee;
}

.three-dots-menu {
  position: relative !important;
  top: 2rem;
  left: 0;
  width: 8rem;
  height: 8rem;
  background-color: #73a4ca;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: flex-start;
  padding: 0.9rem;
  justify-content: center;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}

.three-dots-menu-item {
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
}

/////////////////////////////////////////////////////

.main {
  max-height: 550px;
  background-color: #292c2f;
  color: white;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
}
footer {
  // position: fixed;
  bottom: 0;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 10px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 16px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 10px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-size: 1.6rem !important;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
/////////////////////////////////////////////////

.slider {
  width: 26rem;
  height: 22rem;
}

.slick-list,
.slick-track {
  width: 100%;
  height: 100%;
}

// .slide img{
// 		// &:nth-child(1) {
// 		// 	background: red;
// 		// }

// 		// &:nth-child(2) {
// 		// 	background: yellow;
// 		// }

// 		// &:nth-child(3) {
// 		// 	background: blue;
// 		// }//

// }
.carousel-item {
  display: block;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}

.carousel-item.active {
  height: inherit;
}

.active {
  opacity: 1;
}

.active,
.dot:hover {
  background-color: unset !important;
}
/////////////////////////////////

.main-content {
  position: relative;
  padding-top: 5rem;
  margin-left: 4rem;

  .owl-theme {
    .custom-nav {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;

      .owl-prev,
      .owl-next {
        position: absolute;
        height: 6.5rem;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;
        // background: #E5E7E9;

        i {
          font-size: 2.5rem;
          color: #365575;
        }
      }

      .owl-prev {
        left: -4rem;
      }

      .owl-next {
        right: 1rem;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////

.big-deal {
  display: flex;
  height: 100%;
  width: 98%;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  // margin-left: 6rem;
  margin-bottom: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid grey;
  border-radius: 0.6rem;
  transition: all 0.3s;
  // &:hover {
  //   // transform: scale(1.02);

  // }
  &_img {
    height: inherit;
    width: 30%;
    // background-color: red;
  }
  &_content {
    height: inherit;
    background-color: rgb(241, 250, 241);
    width: 70%;
    padding: 2rem;
  }
  &_picture {
    object-fit: scale-down;
    height: 26rem;
    width: 100%;
  }
  &_name {
    font-size: 1.9rem;
  }
  &_price {
    margin-top: 1.2rem;
  }
  &_des {
    margin-top: 1.2rem;
  }
  &_vt {
    display: flex;
    margin-top: 1.2rem;
    font-size: 1.4rem;
  }
  &_views {
    margin-right: 2.8rem;
  }
  &_user {
    font-size: 1.7rem;
    word-spacing: 0.3rem;
  }
  &_buttons {
    margin-top: 1.2rem;
  }
  &_dis {
    display: flex;

    align-items: baseline;
  }
  &_percent {
    color: red;
    font-size: 2.3rem;
  }
}
.paragraphx {
  font-size: 1.3rem;
}
.edit_dots {
  float: right;
  margin-right: 1rem;
  font-size: 1rem;
}
