.card {
   -webkit-perspective: 150rem;
           perspective: 150rem;
   -moz-perspective: 150rem;
   position: relative;
   height: 34rem;
   width: 26rem; 
   margin: 0 0 1rem 1rem;
   &:not(:nth-child(4n)) {
      margin-right: 5.5rem;
      }
}
   
.card__face {
   height: inherit;
   background-color: #fff;
   -webkit-transition: all .8s ease;
   transition: all .8s ease;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   border-radius: 3px;
   overflow: hidden;
   border: 1px solid #aaa;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   //-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
   //box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
}    

.card__picture{
   width: inherit;
   height: 22rem;
   background-color: orange;
}

.deal-photo{
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.card-text{
   height: inherit;
   width: 26rem;
   background-color: red;
}

.card__heading {
   font-size: 1rem;
   text-transform: capitalize;
   text-align: start;
   margin-left: 0.5rem;
}   
      

.card__details ul {
  list-style: none;
   }

.card__details ul li {
   text-align: start;
   font-size: 0.8rem;
    }

@media only screen and (max-width: 56.25em), only screen and (hover: none) {

.card {
   height: auto;
   border-radius: 3px;
   background-color: #fff;
   -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
   box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }


}
// .card__head {
//    font-size: 1rem;
//    text-transform: capitalize;
//    text-align: start;
//    margin-left: 0.5rem;
// }   
