.dealPageContent {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;

  @include respond(achi2) {
    margin-top: 3rem;
    
  }

  @include respond(phone) {
    flex-direction: column;
  }
}

.deal-carousel {
  display: flex;
  height: 50rem;
  width: 50rem;

  @include respond(tab-land) {
    width: 40rem;
  }

  @include respond(tab-port) {
    width: 58rem;
  }

  @include respond(phone) {
    width: 47rem;
  }
}

.below-image {
  display: flex;
}

.deal-deets {
  font-family: $family2;
  height: inherit;
  width: 150%;
  margin-left: 0.5rem;
  width: 45rem;
  height: 50rem;
  padding: 1.4rem 0rem 0rem 0.8rem;
  margin-top: 2.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.01);

  @include respond(tab-land) {
    // margin-left: 12rem;
    // height: 33.5rem;
    width: 43rem;
  }

  @include respond(tab-port) {
    margin-left: 12rem;
    height: 33.5rem;
    width: 47rem;
  }

  @include respond(phone) {
    margin-left: 0rem;
    height: 49.5rem;
    width: 40.5rem;
  }
  @include respond(small-phone) {
    margin-left: 4.4rem;
    height: 35rem;
    width: 52rem;
  }

  // position: absolute;

  &_buttons {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    @include respond(small-phone) {
      margin-top: 0.1rem;
    }
  }
  &_name {
    padding: 0rem 1rem 0rem 1rem;
    font-size: 2rem !important;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.1;

    color: $heading-color;
  }
  &_price {
    padding: 0.5rem 1rem 0rem 1rem;
    list-style: none;
    font-size: 2rem;
  }
  &_buy {
    position: relative;
    // display: block;
    background-color: #ef233c;

    // border: 2px solid #ef233c;
    text-align: center;
    height: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 1rem;
    color: white;

    padding: 1rem 0.35rem 1rem 4rem;
    font-size: 1.8rem;
    margin: 0rem 0rem 0rem 0rem;
    transition: 0.2s all;
    width: 20rem;


  @include respond(phone) {
    padding: 1rem 8.35rem 1rem 4rem;
  }
  }
  &_buy > i {
    position: absolute;
    left: 0.5rem;
    top: 0.55rem;
    width: 40px;
    height: 40px;
    line-height: 38px;

    @include respond(tab-port) {
      top: 0.2rem;
    }

    @include respond(phone) {
      top: -0.1rem;
    }
    @include respond(small-phone) {
      top: -0.7rem;
    }

    // opacity: 0;
    // visibility: hidden;
    transition: 0.2s all;
  }
  &_save > i {
    margin-right: 0.5rem;
    margin-left: 2rem;
    font-size: 2.4rem;
    // opacity: 0;
    // visibility: hidden;
  }
  &_share > i {
    margin-right: 1.5rem;
    font-size: 3rem !important;
    // opacity: 0;
    // visibility: hidden;
  }

  &_subs:hover {
    background-color: #fff;
    color: #d10024;
    border: 2px solid #d10024;
  }

  &_save {
    //border: 2px solid transparent;
    text-align: center;
    height: 60%;
    text-transform: uppercase;
    border-radius: 1rem;
    // width: 16rem;
    // display: block;
    // color: #333;
    // border-color: #333;
    // background-color: #ef233c;
    color: gray;
    margin-top: 1.5rem;
    // margin: 0rem 0rem 0rem 0rem;

    // border: 1.5px solid rgb(0, 132, 255);
    // background-color: #;

    // padding: 0.3rem 0.4rem;

    border-radius: 1rem;
    font-size: 2.4rem;
  }
  &_vt {
    display: flex;
    font-size: 1.8rem;
    padding: 1rem;

  @include respond(phone) {
      display: block;
    }
  @include respond(small-phone) {
    display: flex;
    }
  }
  &_subs {
    padding: 0.5rem 2rem;
    border: none; //1.5px solid #ef233c;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    margin-left: 2rem;
    background-color: #ef233c;
    color: white;
    // background-color: #ef233c;
    // text-transform: uppercase;
    cursor: pointer;

    @include respond(phone) {
      padding: 1.3rem 2rem;
      margin-left: 0rem;
    }
  }
  &_views {
    color: rgb(122, 122, 122);
    // padding: 0 1.6rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 2rem;
    // margin-top: 0.7rem;
    margin-left: 0.56rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    word-spacing: 0.3rem;
  }
  &_time {
    color: rgb(122, 122, 122);
    text-align: right;
    word-spacing: 0.2rem;
    // margin-right: 6rem;
    // margin-top: 0.7rem;
    border-radius: 1rem;
    // font-size: 1.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    color: #333;
    // margin-right: 8rem;
    display: inline;

    @include respond(phone) {
      font-size: 2rem;
    }

    @include respond(small-phone) {
      font-size: 1.8rem;
    }
  }
  &_categ {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    color: #333;
    display: inline;
    margin-left: 1.5rem;

    @include respond(phone) {
      font-size: 2rem;
      display: block;
      margin-left: 0rem;
    }

    @include respond(small-phone) {
      font-size: 1.8rem;
    }
  }
  &_user {
    font-weight: 700;
    color: #15161d;
    // padding: 0.67rem 1.6rem;
    margin-right: 2rem;
    // margin-top: 0.7rem;

    border-radius: 1rem;
    font-size: 2rem;
  }
  &_paragraph {
    padding: 0.5rem 0rem 0rem 0.5rem;
    font-family: $family2;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.567;
    // width: 70%;
    hyphens: auto;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  &_affiliate {
    // margin-right: rem;
    // display: block;
    padding: 2rem 0rem 2rem 1rem;
    width: 84%;


    @include respond(phone) {
      width: 88%;
    }

    
    &_pic {
      width: 3.5rem;
      height: 3.5rem;
      padding: 0rem;
      border-radius: 50%;
      margin-bottom: 1rem;
      // display: inline;
    }
  }
  // &_affiliate::before{
  //   content: url(/images/aff_pic.png);
  //   width: 3rem;
  //   height: 3rem;
  // }
  &_share {
    display: flex;
    // font-size: 2.4rem !important;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 20rem;
    align-items: center;

    &_button {
      //height: 5rem;
      font-size: 16px;
      margin-left: 1rem;
      // padding: 0.6rem 1.4rem;
      // background-color: #ef233c;
      padding-bottom: 0.7rem;
      color: gray;
      text-transform: uppercase;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}

.deal-deets hr {
  width: 93%;
  margin-right: 2.1rem;
  color: #c4c4c4;
}

.deal-with-review {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin-top: 2.5rem;
}

.review-section {
  padding: 3.5rem 3.5rem 2rem 2rem;
  //width: 65%;

  @include respond(phone) {
    width: 91vw !important;
    padding: 3.5rem 0.5rem 2rem 2rem;
  }
}

.review-rating {
  padding: 2rem 5rem;
}

.rating-avg {
  font-size: 24px;
}

.rating-stars {
  display: inline-block;
  margin: 1rem;
}

.rating-stars > i.fa-star {
  color: #ef233c;
}

.rating-stars > i.fa-star-o {
  color: #d3d3d3;
}

.rating {
  list-style-type: none;
  margin-top: 1rem;
  margin-left: -1rem;
}

.rating li {
  margin: -1.5rem 0rem;
}

.sum {
  display: inline-block;
}

.rating-progress {
  position: relative;
  display: inline-block;
  height: 9px;
  background-color: rgb(224, 224, 224);
  width: 120px;
  margin: 0px 10px;
  border-radius: 10px;
}

.rating-progress > div {
  background-color: #ef233c;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
}

.user-review {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  width: 100%;
}

.review-photo {
  height: 5rem;
  width: 5rem;
  margin-top: -1px;
  margin-right: 2rem;
  padding: 0rem;
}

.review-head {
  font-size: 3rem;
}

.add-review-text-area {
  background-color: transparent;
  border: none;
  border: 1px solid rgb(230, 230, 230);
  width: 80%;
  height: 5rem;
  margin-bottom: -2rem;
  margin-right: 2rem;
  color: black;
  font-size: 2rem;

  @include respond(tab-land) {
    width: 70%;
  }

  @include respond(tab-port) {
    width: 50%;
  }

  @include respond(phone) {
    width: 76%;
  }
  @include respond(small-phone) {
    width: 67%;
  }
}

.review-section textarea::placeholder {
  font-family: Bitter;
}

#review_post {
  background-color: #ef233c;
  border: 2px solid transparent;
  text-align: center;
  height: 4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 1rem;
  padding: 0.67rem 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.2s all;
}

#review_post:hover {
  background-color: white;
  color: #ef233c;
  border: 2px solid #ef233c;
}

.add-rating {
  display: flex;
  margin-top: 2rem;
  margin-left: 7.5rem;
}

.add-rating .rating-stars {
  margin-top: 0rem;
  cursor: pointer;
}

.review-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rev {
  margin-top: 1rem;
  line-height: 2.2rem;
  font-size: 16px;
  font-family: $family2;
}

.reviews {
  display: flex;
  color: black;
  background-color: white;
  width: 95rem;
  margin: 0.5rem 0rem 0.5rem 3rem;

  @include respond(phone) {
    width: 90vw;
  }
}

.review-section {
  font-size: 1.6rem;
  width: 160rem;
}

#editRevBtn {
  //border: 2px solid transparent;
  text-align: center;
  height: 60%;
  text-transform: uppercase;
  border-radius: 1rem;
  width: 16rem;
  // display: block;
  // color: #333;
  // border-color: #333;
  background-color: #ef233c;
  color: white;
  margin-top: 1rem;
  margin: 1rem 0rem 0rem 0rem;

  // border: 1.5px solid rgb(0, 132, 255);
  // background-color: #;

  padding: 0.3rem 0.4rem;

  border-radius: 1rem;
  font-size: 1.8rem;
}

#hidden-review {
  display: none;
}

#showMoreBtn {
  width: 25%;
  margin: 0px auto;

  @include respond(phone) {
    width: 8.1rem;
  }
}

#showLessBtn {
  width: 25%;
  margin: 0px auto;
  display: none;

  @include respond(phone) {
    width: 100vw;
  }
}

.deal_area_box {
  display: flex;
  // background-color: white;
  margin: 0.5rem;
  width: 110rem;
  height: 21rem;
  // display: flex;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
  line-height: 1;
  // box-shadow: 1.3px 1.3px 1.3px 1.3px #e5e7e9;
  border: 0.5px solid #f2f2f2;
  &_img {
    background-image: url(../../images/81xK62lJiML._SL1500_.jpg);
    padding: 10rem;
    // border-radius: 1rem;
    background-size: 100% 100%;
    overflow: hidden;
    // border: 0.5px solid #f4f6f7;
    border-right: 1px solid #f2f3f4;
  }
  &:hover {
    box-shadow: none;
    // border: 1.5px solid #f2f3f4;
  }
}

.deal_box_nameTime {
  margin-bottom: 2rem;
  // @include respond(tab-port) {
  //   font-size: 12.5px !important;
  // }

  // @include respond(phone) {
  //   font-size: 12.5px !important;
  // }

  @include respond(small-phone) {
    margin-bottom: 1.55rem;
  }
}

// .deal_box_name {
//   // font-family: Arial, Helvetica, sans-serif;
//   // font-size: 17px;
//   // font-weight: 600;
//   // padding: 10px;
//   // text-align: center;
//   margin-right: 1rem;
//   // margin-bottom: -0.5rem;
// }

.deal_box_name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  // padding: 10px;
  // text-align: center;
  margin-right: 1rem;
  margin-bottom: -0.5rem;

  @include respond(small-phone) {
    font-size: 2.2rem !important;
  }
}

.deal_box_time {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  margin-bottom: -0.5rem;

  // @include respond(phone) {
  //   font-size: 2rem !important;
  // }

  @include respond(small-phone) {
    font-size: 1.8rem !important;
  }
}

.deal_box_views {
  font-family: Arial, Helvetica, sans-serif;
  // font-size: 13px;
  margin-right: 1rem;
  margin-bottom: -0.5rem;

  font-size: 13px;

  // @include respond(phone) {
  //   font-size: 12.5px !important;
  // }

  @include respond(small-phone) {
    font-size: 1.8rem !important;
  }
}

.profile_pic {
  // background-image: url(../../images/81xK62lJiML._SL1500_.jpg);
  border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  background-color: black;
  margin-top: 1rem;
}

.picture_container {
  height: 3.8rem;
  width: 3.8rem;
  float: left;
}

.deal_area {
  padding-top: 6.5rem;
}

.member-page-content {
  background-color: white;
}

.deal_box_description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-right: 1rem;
}

* {
  box-sizing: border-box;
}

.carousel_container {
  position: relative;
  width: 43%;
  height: 75%;
}

.mySlides {
  display: block;
  position: relative;
  height: inherit;

  // @include respond(phone) {
  //   width: 93%;
  // }
}

.slideshow-dealpage {
  width: 90%;
  height: 100%;
  // border: 0.1rem solid #ecf0f1;

  margin-top: 0.1rem;
}

.small-slides {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: inherit;
  margin-top: 0.25rem;
  margin-left: 2rem;

  @include respond(tab-land) {
    margin-left: 0.2rem;
  }

  @include respond(tab-port) {
    margin-left: 0.5rem;
  }

  @include respond(phone) {
    margin-left: 1rem;
  }

  @include respond(small-phone) {
    margin-top: 0.75rem;
  }
}

.mini-slide {
  height: 20%;
  // border-bottom: 0.1rem solid #cacfd2;
  // border-left: 0.1rem solid #cacfd2;

  border: 0.1rem solid #cacfd2;
}

.small-pic {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.deal-carousel-img {
  object-fit: scale-down;
  // height: 35%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;

  // @include respond(tab-port) {
  //   left: 42%;
  // }

  @include respond(phone) {
    left: 44%;
  }
}

.deal-with-deal-deets {
  display: flex;
  height: 54rem;
  padding: 0rem 0rem 0rem 1rem;

  // @include respond(tab-port) {
  //   font-size: 12.5px !important;
  // }

  // @include respond(phone) {
  //   font-size: 12.5px !important;
  // }

  @include respond(tab-port) {

    display: block;
    height: 86rem;
  }

  
  @include respond(phone) {
    display: flex;
    height: 55.5rem;
  }
  @include respond(small-phone) {
    display: block;
    height: 88rem;
  }
}

.deal-with-deal-reviews {
  height: 100rem;
  margin-bottom: 1rem;

  @include respond(tab-land) {
    width: 71%;
  }


  @include respond(tab-port) {
    width: 67%;
  }

  @include respond(phone) {
    display: block;
    height: 68.5rem;
  }

  @include respond(small-phone) {
    display: block;
    height: 101.5rem;
  }
}

.cursor {
  cursor: pointer;
}

.slideshow-container-deal {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  // width: auto;
  padding: 0.5rem;
  margin-top: 0rem;
  // color: #E5E7E9;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0rem 0rem 0rem 0rem;
  user-select: none;
  -webkit-user-select: none;
  // z-index: 20000000000000;
  // background-color: rgb(202,207,210);
  visibility: initial;
  // height: 10px;
  // width: 1.5rem;

  // &:hover {
  //   color: #212F3D;
  //   background-color: rgb(202,207,210);
  // }
  @include respond(tab-land) {
    top: 100%;
  }

  @include respond(tab-port) {
    top: 97%;
  }
  @include respond(phone) {
    top: 63%;
  }

  @include respond(small-phone) {
    top: 47%;
  }
}

.prev {
  margin-left: 2rem;
}

.next {
  right: 0;
  margin-right: 2rem;
  // border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgb(202, 207, 210);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}

.action_buttons {
  margin-left: 10rem;
  margin-top: -5rem;
}

.deal_info {
  width: 35%;
  margin-left: 50rem;
  margin-top: -49rem;
}

.deal_heading {
  font-size: 25px;
}

.deal_price {
  font-size: 20px;
  margin-top: 2rem;
}

.side_deals {
  display: flex;
  flex-direction: column;
  width: 25%;
  float: right;
  // background-color: white;
  margin-top: -2.5rem;
  // padding-bottom: 5rem;

  @include respond(tab-land) {
    width: 28%;
  }

  @include respond(tab-port) {
    width: 31%;
  }


  @include respond(phone) {
    height: unset !important;
    width: 94.5%;
    margin-top: 0;
  }
}

.comment_section {
  margin-top: 10rem;
}

.comment_section button {
  display: block;
}

.slider_b_deals {
  color: #17202a !important;
  position: absolute;
  top: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.d_next {
  margin-right: 0rem;

  // @include respond(tab-port) {
  //   margin-right: 5rem;
  // }

  @include respond(phone) {
    margin-right: 4rem;
  }
}

.d_prev {
  margin-left: 1.4rem;
}

.deal-highlights-dp {
  padding: 0rem 1rem 1rem 1rem;
  // border-bottom: 0.2rem solid #D7DBDD;
}

.deal-views-dp {
  display: inline;
  font-size: 1.5rem;
  width: 10rem;

  @include respond(phone) {
    font-size: 2rem;
    width: 12rem;
  }

  @include respond(small-phone) {
    font-size: 1.8rem;
    // width: 11rem;
  }
}
.views-icon-dp {
  display: inline;
  // font-size: 2.5rem;
}

.views-text-dp {
  display: inline;
  color: rgba($color: #000000, $alpha: 0.8);
  margin-left: 1rem;
}

.deal-ratings-dp {
  display: inline;
  margin-left: 2.2rem;
  font-size: 1.5rem;
}

.ratings-icon-dp {
  display: inline;
  color: rgb(209, 0, 36);
  // font-size: 2.5rem;
}

.ratings-text-dp {
  display: inline;
  color: rgba($color: #000000, $alpha: 0.8);
  margin-left: 1rem;
}

.price {
  font-family: $family2;
  // word-spacing: 0.7rem;
  &_avail {
    font-weight: 600;
    color: #3f3f3f;
    font-size: 2.3rem;
  }
  &_dis {
    margin-left: 1rem;
    color: #ef233c;
    font-weight: 600;
    font-size: 2.3rem;
    padding: 0.2rem 0.5rem;
    //border: 2px solid $maroon;
    // border-radius: 10px;
  }
  &_mrp {
    margin-left: 1rem;
    text-decoration: line-through;
    color: #474747;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

// .popup {
//   //   background-color: rgba(0, 0, 0, 0.808);
//   position: fixed;
//   // height: 50rem;
//   width: 65%;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 99999999999999999;
//   border-radius: 10px;
//   box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
//   // opacity: 0;
//   // visibility: hidden;
//   display: none;
//   transition: all 0.3s;

//   // &:target {
//   //   opacity: 1;
//   //   // animation: cssAnimation 5s forwards;
//   //   visibility: visible;
//   // }
//   &_content {
//     opacity: 1;
//     background-color: white;
//     overflow: hidden;
//     // display: table;
//     border-radius: inherit;
//   }
//   &_left {
//     width: 33.33333333334%;
//     vertical-align: top;
//     display: table-cell;
//     @include respond(tab-port) {
//       width: 0%;
//     }
//   }
//   &_right {
//     width: 66.66666667;
//     @include respond(tab-port) {
//       width: 100%;
//     }
//     display: table-cell;
//     // vertical-align: middle;
//     padding: 2rem 3rem 0rem 3rem;
//   }
//   &_cross {
//     cursor: pointer;
//     &:link,
//     &:visited {
//       font-size: 4rem;
//       text-decoration: none;
//       color: black;
//       font-weight: 800;
//       position: absolute;
//       top: 0.7rem;
//       right: 5rem;
//       @include respond(tab-port) {
//         position: absolute;
//         top: 1rem;
//         right: 1rem;
//       }
//     }
//   }
//   &_img {
//     background-position: center;
//     background-size: 100% 100%;
//     display: block;
//     width: 100%;
//     @include respond(tab-port) {
//       display: none;
//     }
//   }
//   &_paragraph {
//     column-count: 2;

//     font-size: 1.7rem;
//     font-weight: 600;
//     @include respond(tab-port) {
//       column-count: unset;
//       column-rule: unset;
//       column-gap: unset;
//       text-align: start;
//     }

//     column-rule: 0.5px solid darkgrey;
//     column-gap: 4rem;
//     hyphens: auto;
//   }
//   &_heading {
//     @include respond(tab-port) {
//       text-align: center;
//     }
//   }
// }
// @keyframes cssAnimation {
//   0% {
//     opacity: 1;
//   }
//   90% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

.big-deal_dis strike {
  font-size: 1.8rem;
  margin-right: 2rem;
}

#big-three-dots {
  position: relative;
}

.deal_area_container {
  display: flex;
  flex: 0 0 25%;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.deal_area_box {
  background-color: white;
  height: 15rem;

  box-shadow: 0px 1px 2.5px rgba(175, 175, 175, 0.4);
  &:hover {
    box-shadow: 0px 5px 10px rgba(175, 175, 175, 0.4);
  }
}
.side_deals {
  // height: 15rem;
  margin-right: 2rem;

  @include respond(phone) {
    margin-left: 5.5rem;
    margin-bottom: 2rem;
  }
  @include respond(small-phone) {
    margin-left: 1.2rem;
    margin-bottom: 2rem;
  }
}

.side_deals .deal_area_box_img {
  height: 15rem;
}

.side_deals .deal_area_content {
  margin-left: 1.6rem;
  height: 16rem;
  padding-top: 1rem;
}

.side_deals .deal_box_name {
  margin-right: 0rem;
}

.side_deals .deal_box_dp {
  font-weight: 500;
  color: $heading-color;
  font-family: $family2;
  font-size: 1.7rem;
  margin-right: 1rem;
  margin-top: 0.5rem;

  @include respond(small-phone) {
    margin-top: 0.9rem;
  }
}

.side_deals .deal_box_mrp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #8d99ae;
  text-decoration: line-through;
  margin-right: 1rem;
  margin-bottom: -0.5rem;
  padding: 5px 0;
}

.side_deals .deal_box_dis {
  color: #d10024;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $family2;
  margin-right: 1rem;
  margin-bottom: -0.5rem;
  padding: 5px 0;
}
#copied {
  width: 89%;
  padding: 1rem 0;
  border-radius: 5px;
  margin-top: 1rem;
  color: white;
  background-color: #d10024;
  font-family: $family2;
  text-transform: uppercase;
  border: none;
}

.clock_icon1 {
  @include respond(small-phone) {
    margin-top: 0.7rem !important;
  }
}

// .buy-now_text{

// }

.dp-price-row{
  margin-bottom: 1.2rem;
}