.dealPageContent {
  display: flex;
  // justify-content: space-around;
}

.deal-carousel {
  display: flex;
  height: 60rem;
  width: 50rem;
}

.deal-deets {
  // background-color: rgb(242, 243, 244);
  border: 2px solid rgb(242, 243, 244);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: inherit;
  width: 44%;
  margin-left: 5rem;
  width: 42rem;
  height: 60rem;
  margin-top: 0.1rem;

  // position: absolute;

  &_buttons {
    display: block;
    padding: 1rem 5rem 1rem 5rem;
  }
  &_name {
    // border-bottom: 1px solid grey;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2rem !important;
    text-transform: uppercase;

    // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    //   sans-serif;
    line-height: 1.6;
    color: #1e2021;
  }
  &_price {
    padding: 0.5rem 1rem 1rem 5rem;
    list-style: none;
    font-size: 2rem;
    
  }
  &_buy {
    position: relative;
    display: block;
    
    background-color: #ef233c;
    border: 2px solid transparent;
    text-align: center;
    height: 5rem;
    color: white;
    text-transform:uppercase;
    font-weight:700;
    border-radius: 1rem;
    padding: 0.67rem 1.6rem;
    font-size: 1.8rem;
    margin: 0rem 2rem 0rem 0rem;
    transition:0.2s all;
  
  }
    &_buy>i {
      position: absolute;
    left: 1rem;
    top: 0.5rem;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
    }

    &_buy:hover{
     background-color: #FFF;
  color: #D10024;
  border-color: #D10024;
  // padding: 0px 30px 0px 50px;
    }

&_buy:hover>i{
  opacity: 1;
  visibility: visible;
}
 

  &_save {
    border: 2px solid transparent;
    text-align: center;
    height: 5rem;
    text-transform:uppercase;
    font-weight:700;
    border-radius: 1rem;
    display: block;
    margin-top: 1rem;
    margin: 1rem 2rem 0rem 0rem;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 0.67rem 1.6rem;

    border-radius: 1rem;
    font-size: 1.8rem;
  }
  &_vt {
    display: flex;
    font-size: 1.8rem;
    padding: 1rem;
  }
  &_subs {
    padding: 0.67rem 1.6rem;

    border-radius: 1rem;
    font-size: 1.8rem;
    color: white;
    background-color: red;
  }
  &_views {
    color: rgb(122, 122, 122);
    // padding: 0 1.6rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 2rem;
    // margin-top: 0.7rem;
    margin-left: 0.56rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    word-spacing: 0.3rem;
  }
  &_time {
    color: rgb(122, 122, 122);

    word-spacing: 0.3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    // margin-right: 6rem;
    // margin-top: 0.7rem;
    margin-left: -0.56rem;
    border-radius: 1rem;
    font-size: 1.8rem;
  }
  &_user {
    font-weight: 600;
    color: black;
    // padding: 0.67rem 1.6rem;
    margin-right: 6rem;
    margin-top: 0.7rem;
    margin-left: -0.56rem;
    border-radius: 1rem;
    font-size: 1.8rem;
  }
  &_paragraph {
    padding: 0.5rem 2.5rem 1rem 1rem;
  }
}

.deal_area_box {
  background-color: white;
  margin: 0.5rem;
  width: 33%;
  height: 33%;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
  line-height: 1;
  box-shadow: 1.3px 1.3px 1.3px 1.3px #e5e7e9;
  &_img {
    background-image: url(../../images/81xK62lJiML._SL1500_.jpg);
    padding: 10rem;
    // border-radius: 1rem;
    background-size: 100% 100%;
    overflow: hidden;
    // border: 0.5px solid #f4f6f7;
  }
  &:hover {
    box-shadow: none;
    border: 1.5px solid  #f2f3f4 ;
  }
}

.deal-with-review {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.review-section {
  padding: 2rem;
  width: 100%;
}

.user-review {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  width: 100%;
}

.review-photo {
  height: 8rem;
}

.review-head {
  font-size: 3rem;
}

.add-review-text-area {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 80%;
  height: 5rem;
  margin-bottom: 5rem;
  color: white;
  font-size: 2rem;
}

.review-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rev {
  margin-top: 1rem;
}

.reviews {
  display: flex;
  color: white;
  background-color: #c0c0c0;
  width: 120rem;
  margin: 5rem 0;
}

.review-section {
  font-size: 2rem;
}

#hidden-review {
  display: none;
}

.deal_box_name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  // padding: 10px;
  // text-align: center;
  margin-right: 1rem;
  margin-bottom: -0.5rem;
}

.deal_box_time {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  margin-bottom: -0.5rem;
}
.deal_box_views {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  margin-bottom: -0.5rem;
}

.profile_pic {
  // background-image: url(../../images/81xK62lJiML._SL1500_.jpg);
  border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  background-color: black;
}
.picture_container {
  height: 3.8rem;
  width: 3.8rem;
  float: left;
}
.cover {
  padding-top: 9rem !important;
  margin-left: 15%;
  width: 85%;
  height: 20vh;
  background-color: orangered;
}
.profile_area {
  margin-left: 15%;
  width: 85%;
  height: 10vh;
  background-color: yellowgreen;
  display: block;
  &_pic {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 5rem;
    background-color: black;
  }
  &_subs {
    float: right;
    margin-top: 1rem;
    margin-right: 5rem;
    padding: 1rem 2rem;
    background-color: red;
  }
}

.deal_box_description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-right: 1rem;
}

* {
  box-sizing: border-box;
}

.carousel_container {
  position: relative;
  width: 43%;
  height: 75%;
}

.mySlides {
  display: block;
  position: relative;
  height: inherit;
}

.slideshow-dealpage {
  width: 83.5%;
  height: 100%;
  border: 0.1rem solid #ecf0f1;

  box-shadow: 1px 1px 1px 1px #f2f3f4;
  margin-top: 0.1rem;
}
.small-slides {
  display: flex;
  flex-direction: column;
  width: 12.5%;
  height: inherit;
  margin-top: 0.1rem;
  margin-left: 2rem;

  border-top: 0.1rem solid #cacfd2;
}

.mini-slide {
  height: 16.67%;
  border-bottom: 0.1rem solid #cacfd2;
  border-left: 0.1rem solid #cacfd2;
}

.small-pic {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.deal-carousel-img {
  object-fit: scale-down;
  // height: 35%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor {
  cursor: pointer;
}

.slideshow-container-deal {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  // width: auto;
  padding: 0.5rem;
  margin-top: 0rem;
  // color: #E5E7E9;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0rem 0rem 0rem 0rem;
  user-select: none;
  -webkit-user-select: none;
  z-index: 20000000000000;
  // background-color: rgb(202,207,210);
  visibility: initial;
  // height: 10px;
  // width: 1.5rem;

  // &:hover {
  //   color: #212F3D;
  //   background-color: rgb(202,207,210);
  // }
}

.prev {
  margin-left: 2rem;
}
.next {
  right: 0;
  margin-right: 2rem;
  // border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgb(202, 207, 210);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}

.action_buttons {
  margin-left: 10rem;
  margin-top: -5rem;
}

.deal_info {
  width: 35%;
  margin-left: 50rem;
  margin-top: -49rem;
}

.deal_heading {
  font-size: 25px;
}

.deal_price {
  font-size: 20px;
  margin-top: 2rem;
}
.side_deals {
  display: flex;
  flex-direction: column;
  width: 20%;
  float: right;
  background-color: white;
  padding-bottom: 5rem;
  margin-top: -128rem;
  margin-right: 2rem;
}
//  copied from header.scss
.side_deals {
  display: flex;
  flex-direction: column;
  width: 25%;
  float: right;
  background-color: white;
  padding-bottom: 5rem;
}

.comment_section {
  margin-top: 10rem;
}

.comment_section button {
  display: block;
}

.slider_b_deals {
  color: #17202a !important;
  position: absolute;
  top: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.d_next {
  margin-right: 0rem;
}

.d_prev {
  margin-left: 1.4rem;
}

.deal-highlights-dp {
  padding: 0rem 1rem 1rem 1rem;
  // border-bottom: 0.2rem solid #D7DBDD;
}

.deal-views-dp {
  display: inline;
  font-size: 1.5rem;
}
.views-icon-dp {
  display: inline;
  // font-size: 2.5rem;
}

.views-text-dp {
  display: inline;
  color: rgba($color: #000000, $alpha: 0.8);
  margin-left: 1rem;
}

.deal-ratings-dp {
  display: inline;
  margin-left: 5rem;
  font-size: 1.5rem;
}

.ratings-icon-dp {
  display: inline;
  color: rgb(209, 0, 36);
  // font-size: 2.5rem;
}

.ratings-text-dp {
  display: inline;
  color: rgba($color: #000000, $alpha: 0.8);
  margin-left: 1rem;
}

.price {
  // margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // word-spacing: 0.7rem;
  &_avail {
    font-weight: 600;
    color: #000;
    font-size: 3.1rem;
  }
  &_dis {
    margin-left: 1.2rem;
    color: #d10024;
    font-weight: 600;
    font-size: 1.6rem;
  }
  &_mrp {
    margin-left: 1.2rem;
    text-decoration: line-through;
    color: #8d99ae;
    font-size: 1.7rem;
    font-weight: 400;
  }
}
