.cover {
  // padding-top: 9rem !important;
  // margin-left: 15%;
  width: 100%;
  height: 30rem;
}


.cover_pic {
  height: 30rem;
  background: linear-gradient(260deg, rgb(1, 211, 246), rgb(1, 175, 254));
  background-blend-mode: initial;
  top: 0px;
  position: relative;
  box-shadow: 4px 0px 9px 3px #232627;
}

.cover_pic::before {
  content: "";
  background: #000000;
  opacity: 0.5;
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cover_aff-pic {
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  display: inline-block;
  background-color: black;
  position: absolute;
  top:15%;
  left: 5%;
}

.cover_aff{
  margin: 0;


      &-name{
        font-size: 3rem;
        color: #F4F6F7;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.3;
        position: absolute;
        top:15%;
        left: 14%;
        // background: linear-gradient(to right, #EA089B 0%, #330867 100%);
        // background-clip: border-box;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        &-tag{
          font-size: 1.5rem;
          position: relative;
          bottom: 0.5rem;
          left: 0.5rem;
        }
      }

      &-subs{
        font-size: 1.8rem;
        color: #F4F6F7;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.1;
        position: absolute;
        top:30%;
        left: 14.5%;
      }

      &-deals{
        font-size: 1.8rem;
        color: #F4F6F7;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.1;
        position: absolute;
        top:80%;
        left: 14.5%;
        
      }

      &-likes{
        font-size: 1.8rem;
        color: #F4F6F7;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.1;
        position: absolute;
        top:80%;
        left: 24.5%;
        
      }

      &-views{
        font-size: 1.8rem;
        color: #F4F6F7;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.1;
        position: absolute;
        top:80%;
        left: 34.5%;
        
      }

      &-space1{
        font-size: 3rem;
        color: #F4F6F7;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.1;
        position: absolute;
        top:75.5%;
        left: 22.5%;
      }
      &-space2{
        font-size: 3rem;
        color: #F4F6F7;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.1;
        position: absolute;
        top:75.5%;
        left: 32%;
      }


      &-subs-button {
        padding: 0.5rem 1.5rem;
        background-color: white;
        position: absolute;
        border-radius: 0.5rem;
        top:21%;
        left: 36%;

        &-txt{
          font-size: 1.6rem;
          font-family: Arial, Helvetica, sans-serif;
          color: #0C8BCF;
        }
      }
}

          .latest-deals{

            position: relative;
            top: 0.3rem;
            display: block;
            // background-color: #C7C9C7;
            background-color: #ECF0F1;
            height: 32rem;
            box-shadow: 4px 0px 6px 0.1px #909497;

            &-title{
            font-size: 3rem;
            // color: #F4F6F7;
            color: #A6ACAF;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.3;
            position: absolute;
            top:5%;
            left: 5%;
            }

            &-deal1{
              position: absolute;
              top: 25%;
              left: 5%;
              width: 32rem;
             
              
              & img{
                object-fit: scale-down;
                height: 20rem;
                width: 20rem;
                mix-blend-mode: multiply;
                border: 2px solid #ECF0F1;
              }
            }
            &-deal2{
              position: absolute;
              top: 25%;
              left: 35%;
              width: 32rem;
              
              & img{
                object-fit: scale-down;
                height: 20rem;
                width: 20rem;
                mix-blend-mode: multiply;
              }
            }
            &-deal3{
              position: absolute;
              top: 25%;
              left: 65%;
              width: 32rem;
              
              & img{
                object-fit: scale-down;
                height: 20rem;
                width: 20rem;
                mix-blend-mode: multiply;
              }
            }
          }

          .deal1-det, .deal2-det, .deal3-det {
            display: inline-block;
            position: absolute;
            top: 2.3rem;
            font-size: 1.3rem;
            color: #626567;
            margin-left: 1rem;

            &-name{
              font-size: 1.4rem;
              font-weight: 600;
              height: 3.5rem;
              color: black;
            }

            &-dp{
              display: inline-block;
              font-weight: 600;
              font-size: 1.7rem;
              color: black;
            }

            &-mrp{
              display: inline-block;
              text-decoration: line-through;
              margin-left: 0.5rem;
            }

            &-dis{
              color: #d10024;
              font-size: 1.8rem;

            }
          }
