#showLess {
  display: none;
}

.w3-sidebar {
  max-width: 15%;
}
.simplebar-scrollbar:after {
  background-color: darkblue !important;

}
.simplebar-scrollbar {
  margin: 2px;
  // background-color: red;
}
.font_icon {
  color: rgb(250, 4, 4);
  margin-right: 1rem;
  font-size: 2.6rem;
  &:hover {
    color: red;
  }
}
.sidebar_link {
  font-size: 1.1rem;
  text-decoration: none !important;
}
.social_icons{
  height: 32px;
  width: 35px;
  border-radius: 50%;
  margin-left: -0.5rem;
  margin-right: 0.6rem;
background-size: 100% 100%;
}
#hide {
  display: none;
}

body a {
  color: black;
  text-decoration: none;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}

.fa-fire {
  color: orange;
}
.fa-plus {
  color: orange;
}
.fa-th {
  color: orange;
}

h2 {
  margin: 0;

  &:hover{
    text-emphasis: none;
    text-decoration: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
}

.heading-normal {
  margin: 0;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}

.header {
  font-size: 1.8rem;
  height: 60px;
  background-color: #4585F3;
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
      height: 11rem; } }

.search {
  background-color: silver;
  border-radius: 2px;
  height: 3.5rem;
  margin-left: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

    .user-nav {
      -ms-flex-item-align: stretch;
          align-self: stretch;
          font-family: "Signika", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .user-nav > * {
        padding: 0 1rem;
        cursor: pointer;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .user-nav > *:hover {
        background-color: var(--color-grey-light-2); }
      .user-nav__icon-box {
        position: relative; }
      .user-nav__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-2); }
      .user-nav__notification {
        font-size: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        background-color:orange;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        top: 0.9rem;
        right: 0.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .user-nav__user-photo {
        height: 4rem;
        border-radius: 50%;
        margin-right: 1rem; }
      
        .logo {
          height: 3.25rem;
          margin-left: 2rem; }
