#showLess {
  display: none;
}

//  D changes start -> copied here from header.scss
.side_bar {
  // display: flex;
  // flex-direction: column;
  width: 12%;
  background-color: rgb(255, 255, 255);
  // margin-top: 8rem;
  top: 8rem;
  height: 90%;
  border: solid 1px lightgrey;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 2;

  // overflow-y: scroll !important;
  @include respond(tab-land) {
    display: none;
  }
}

.small-sidebar {
  @include respond(tab-land) {
    width: 19px;
    margin-right: 4px !important;
  }

  @include respond(small-phone) {
    margin-left: 2.5rem !important;
    width: 1.5rem;
  }
}

//  D changes end

//  text-decoration: none;
.w3-sidebar {
  max-width: 15%;
}

// .simplebar-scrollbar:after {
//   background-color: darkblue !important;
// }

.simplebar-scrollbar {
  margin: 2px;
  // background-color: red;
}

.simplebar-scrollbar::before {
  // background-color: rgb(150, 153, 153) !important;
  height: 50vh;
  width: 3.2rem;
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.font_icon {
  // color: rgb(250, 4, 4);
  margin-right: 0.8rem;
  font-size: 1.9rem;
  // &:hover {
  //   color: red;
  // }

  .Sidebar_logo {
    padding: 1rem;
    height: 1rem;
    width: 1rem;
  }
}

.sidebar_link {
  font-size: 1.1rem;
  text-decoration: none !important;
}

.social_icons {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 1.6rem;
  background-size: 100% 100%;
  padding: 0.1rem;
}

#hide {
  display: none;
}

body a {
  color: black;
  text-decoration: none;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}
.search-icon {
  margin-left: -5rem;
}

.search_ii {
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.titles {
  display: flex;
  justify-content: space-between;
  margin-left: -1.6rem;
}

.title-with-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.16rem;
}

#searchx {
  //margin-top: 0.91rem;
  width: 595px;
}
.titles_nv {
  display: block;
  margin: 0.5rem 1.55rem 0 1.55rem;
  // font-family: "Bitter", serif;
  text-transform: capitalize;
  font-family: $family2;
  font-weight: 500;
  font-size: 1.7rem;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
  }
  @include respond(tab-land) {
    display: none;
    visibility: hidden;
  }
}

.fa-sign-out-alt {
  display: block;
  margin-right: 0.5rem;
  // color: rgb(223, 68, 68);
}
.fa-heart,
.fa-user-plus,
.fa-user-shield {
  display: block;
  margin-right: 0.5rem;
  // color: rgb(223, 68, 68);
  text-decoration: none;
}

.fa-plus-square {
  // color: rgb(223, 68, 68);
  display: block;
  margin-right: 0.5rem;
}
.fa-h-square {
  // color: rgb(223, 68, 68);
  display: block;
  margin-right: 0.5rem;
}

// .fa-fire,
// .fa-user {
//   color: #494343;
// }

.fa-plus {
  color: orange;
}

.fa-th {
  color: orange;
}

h2 {
  margin: 0;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
}

.heading-normal {
  margin: 0;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}
.whats_div {
  align-self: center;
  margin-right: 3rem;
  font-size: 3.1rem;
  font-weight: bolder;
}
.header_small {
  border-bottom: 2px solid $border-color !important;
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  padding-top: 8.1rem;
  background-color: #fff;
  @include respond(phone) {
    display: none;
    visibility: hidden;
  }
  &-nav {
    display: flex;
    color: #333;
    height: 5rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &-item {
      font-size: 1.5rem;
      font-family: $family2;
      margin-right: 2.5rem;
      @include respond(tab-land) {
        margin-right: 2rem;
      }
      &-head {
        font-weight: bolder;
        border-bottom: 1.7px solid $maroon;
        margin-left: 1rem;
      }
    }
  }
}
.header {
  font-size: 1.7rem;
  height: 8rem;
  width: 100%;
  // padding: 1.6rem 0;
  background-color: #15161d;
  border-bottom: 3px solid $maroon;
  display: -webkit-box;
  font-family: $family2 !important;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999999999999999999999999 !important;
}
@media only screen and (max-width: 31.25em) {
  .header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    height: 11rem;
    width: 100vw;
  }
}

.search {
  // background-color: silver;
  border-radius: 0.1rem;
  height: 3.5rem;
  margin-left: 1rem;
  width: 10rem;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include respond(tab-land) {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 31.25em) {
  .search {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}

.search__input {
  // * D changes

  // background-color: var(--color-grey-light-2);
  // border-radius: 100px;
  // padding: 0.7rem 2rem;
  // * D changes *
  // border: 2px solid rgb(146, 43, 33);
  // border: 2px solid rgb(231, 76, 60);
  // border: 0.1px solid rgba(209, 0, 36, 1);

  padding: 0rem 2rem;
  // border-radius: 0.5rem;
  // border-radius: 0 8px 8px 0;
  border: none !important;
  font-family: $family2;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: 1.85rem;
  border-radius: 100px;
  // border-bottom-right-radius: 100px;
  height: 4rem;
  // margin-left: 3rem;
  color: rgb(23, 32, 42);
  // font-family: "Bitter", serif;
  font-size: 1.5rem;

  &:hover {
    color: #c60022;
  }
}

.search__input:focus {
  outline: none;
  width: 100%;
  // D *changes
  // background-color: var(--color-grey-light-3);
  // D * changes *
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;

  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}

// D *changes start
.search__button {
  // color: rgba(6, 16, 99, 0.7);
  color: #cb4335;
  font-size: 1.6rem;
  //margin-right: 5rem;
}
// D *changes * end

//  D *changes * start
.Navb_logo-text {
  margin-left: 6rem;
  margin-right: 2rem;
  display: flex;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.2rem;
  // text-shadow: 0.15rem 0.15rem 0.15rem #00000085;
  font-size: 3rem;
  max-width: 400px;
  // height:1.8rem;
  vertical-align: middle;
  // font-family: 'Alegreya SC', serif;
  // font-family: "Metal Mania", cursive;
  font-family: $family2;
  // D *changes * end

  &:hover {
    color: rgb(231, 76, 60);
  }

  .Sidebar_logo {
    color: white;
    height: 3.25rem;
    margin-left: 2rem;
  }
}

.user-nav {
  //-ms-flex-item-align: stretch;
  //align-self: stretch;
  // font-family: "Signika", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  //   "Lucida Sans", Arial, sans-serif;
  font-family: $family2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  //max-width: 300px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0rem;
  //justify-content: flex-end;
  @include respond(tab-land) {
    display: none;
    visibility: hidden;
  }
}

.user-nav > * {
  padding: 0 1rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba($color: #fff, $alpha: 1);
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-grey-dark-2);
}

.user-nav__notification {
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: orange;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 0.9rem;
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscriptions_mp {
  font-family: $family2;
  &:hover {
    background: #f2f3f4;
  }
}
.user-nav__user {
  display: flex;
  width: 6.5rem;
  padding: 0 0.2rem;
  align-items: center;
}
.user-nav__user-photo {
  width: 6.5rem;
  height: 6rem;
  border-radius: 50%;
  margin-top: 10rem;
}

.user-nav__user-name {
  text-transform: capitalize;
  font-weight: bold;
  font-family: $family2;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.categories_dropdown_nv {
  margin-right: 1.68rem;
  padding: 0px 16px;
  font-family: $family2;
  background-color: $maroon;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 4rem;
  align-self: center;
  border-left: none;
  color: white;
  margin-right: -2rem;
  font-size: 1.5rem;

  &:hover {
    // background-color: rgba(209, 0, 36, 0.9);
    color: #fff;
  }
  width: 14.6rem;
}
/////////////////////////////

//   a {
//     text-decoration: none;
//   }

//   nav {
//     font-family: monospace;
//   }

//   ul {
//     // background: darkorange;
//     list-style: none;
//     margin: 0;
//     padding-left: 0;
//   }

//   li {
//     // color: #fff;
//     // background: darkorange;
//     display: block;
//     float: left;
//     list-style: none;
//     // padding: 1rem;
//     position: relative;
//     text-decoration: none;
//     transition-duration: 0.5s;
//   }

//   li a {
//     color: #fff !important;
//     list-style: none;
//   }

//   li:hover {
//     list-style: none;
//     // background: red;
//     cursor: pointer;
//   }

//   ul li ul {
//     // visibility: hidden;
//     // opacity: 0;
//     min-width: 5rem;
//     position: absolute;
//     transition: all 0.5s ease;
//     margin-top: 1rem;
//     left: 0;
//     list-style: none;
//     display: none !important;
//   }

//   // ul li:hover > ul,
//   // ul li ul:hover {
//   //   visibility: visible;
//   //   opacity: 1;
//   //   display: block;
//   //   list-style: none;
//   // }

//   ul li ul li {
//     clear: both;
//     width: 100%;
//     list-style: none;
//   }
// }
// .dropdown {
//   display: none;
//   visibility: hidden;
//   list-style: none;
//   &:hover {
//     display: block !important;
//     visibility: visible;
//   }
// }
a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  // background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

// li {
//   color: #fff;
//   // background: darkorange;
//   display: block;
//   float: left;
//   padding: 1rem;
//   position: relative;
//   text-decoration: none;
//   transition-duration: 0.5s;
// }

li a {
  color: #fff;
}

li:hover {
  // background: red;
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

nav li {
  color: white;
  display: block;
  // float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.item2 {
  padding: 0.5rem;
  padding-left: 1.15rem;
  display: flex;
  flex-direction: row;
  &:hover {
    background-color: #f0f3f4;
    box-shadow: 0px 1px 2px 2px rgba(208, 211, 212, 0.4);
  }

  // position: relative;
  // -webkit-transform: translateZ(0);
  // transform: translateZ(0);
  // -webkit-transition: #CACFD2 1000ms;
  // transition: #CACFD2 1000ms;
  // &:before{
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   -webkit-transform: scaleX(0);
  //   transform: scaleX(0);
  //   -webkit-transform-origin: 0 50%;
  //   transform-origin: 0 50%;
  //   -webkit-transition-property: transform;
  //   transition-property: transform;
  //   -webkit-transition: 300ms ease-out;
  //   transition: 300ms ease-out;
  // &:hover:before{
  //   -webkit-transform: scaleX(1);
  //   transform: scaleX(1);
  // }

  // }
}

.item {
  padding-left: 1.15rem;
  &:hover {
    background-color: #f0f3f4;
    box-shadow: 0px 1px 2px 2px rgba(105, 156, 173, 0.4);
  }
}

.sidebar_button {
  position: relative;
  // display: block;
  background-color: white;
  color: $maroon;
  border: 1.2px solid $maroon;
  text-align: center;

  height: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.4rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  font-size: 1.6rem;
  margin: 0rem 0rem 0rem 0.2rem;
  // transition: 0.2s all;
  // &:hover {
  //   transform: translateY(-2px);
  // }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  display: none;
  visibility: hidden;
  @include respond(tab-land) {
    display: block;
    visibility: visible;
  }
}
.sidenav a {
  padding: 0.5rem 28px;
  text-decoration: none;
  font-size: 12.5px;
  color: #555555;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  color: white;
  display: block;
  transition: 0.5s all;
  margin-bottom: 1.3rem;

  @include respond(tab-port) {
    font-size: 12.5px !important;
  }

  @include respond(phone) {
    font-size: 12.5px !important;
  }

  @include respond(small-phone) {
    font-size: 2.4rem !important;
  }
}

.sidenav a:hover {
  color: black;
  background-position: 100%;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  margin-left: 50px;
  color: white;
  background-image: none;
  &:hover {
    color: purple;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  // .sidenav a {
  //   font-size: 18px;
  // }
}
.navigation_item {
  font-size: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.8rem;
  width: 100%;
}
@media (max-width: 56.25em) {
  .navigation_item {
    font-size: 1.2rem;
  }
}
.nav_logo {
  position: fixed;
  top: 2.7rem;
  left: 2rem;
  z-index: 1;
  width: 2rem;
  padding: 0rem 0.5rem;
  display: none;
  visibility: hidden;
  @include respond(tab-land) {
    display: block;
    visibility: visible;
  }
  // background-color: black;
}
// @media (max-width: 56.25em) {
//   .nav_logo {
//     position: absolute;
//     top: 3.1rem;
//     right: 3rem;
//   }
// }
.search_phone {
  display: none;
  visibility: hidden;

  @include respond(tab-land) {
    display: block;
    visibility: visible;
  }
}
.nav_tff {
  text-align: start;
  color: white;
  font-size: 3.5rem;
  margin-left: 4rem;
  // margin-bottom: 4rem;
  font-family: "Amaranth";

  @include respond(tab-land) {
    margin-left: 3rem;
  }

  @include respond(tab-port) {
    margin-left: 3.6rem;
  }

  @include respond(phone) {
    margin-left: 4.2rem !important;
  }

  @include respond(small-phone) {
    margin-left: 4.9rem !important;
  }
}

.scale_button1 {
  @include respond(achi2) {
    height: 3.71rem !important;
    width: 19.5rem !important;
    color: #15161d !important;
    line-height: 3rem;
    margin-left: 2.9rem !important;
  }
  @include respond(tab-land) {
    height: 3.71rem !important;
    width: 19.5rem !important;
    color: #15161d !important;
    line-height: 3rem;
    margin-left: 2.9rem !important;
    margin-top: 0.1rem !important;
  }

  @include respond(tab-port) {
    height: 3.71rem !important;
    width: 22.7rem !important;
    color: #15161d !important;
    line-height: 2.3rem;
    font-size: 1.8rem;
    margin-top: 0.1rem !important;
    margin-left: 2.9rem !important;
    margin-top: 0.1rem !important;
  }

  @include respond(phone) {
    height: 3.71rem !important;
    width: 26.5rem !important;
    color: #15161d !important;
    line-height: 2.5rem;
    font-size: 1.8rem;
    margin-top: 0.1rem !important;
    margin-left: 2.9rem !important;
  }

  @include respond(small-phone) {
    height: 3.71rem !important;
    width: 35.5rem !important;
    color: #15161d !important;
    line-height: 2.5rem;
    font-size: 1.8rem;
    margin-top: 0.1rem !important;
    margin-left: 2.9rem !important;
  }
}

.sidenav {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999;
}

.follow_us {
  text-align: start;
  color: white;
  font-size: 2.5rem;
  margin-left: 4rem;
  margin-top: 4rem;

  @include respond(tab-land) {
    display: block;
    visibility: visible;
    margin-left: 3.3rem;
    margin-top: 1.75rem !important;
  }

  @include respond(tab-port) {
    display: block;
    visibility: visible;
    margin-left: 3.3rem;
    margin-top: 2rem !important;
  }

  // @include respond(tab-port) {
  //   margin-left: 4.5rem !important;
  // }

  // @include respond(phone) {
  //   margin-left: 5rem !important;
  // }

  @include respond(small-phone) {
    font-size: 2.8rem !important;
    margin-top: 2rem;
  }
}

.categories_title {
  font-size: 2rem !important;
  margin-left: 0.7rem;
  color: #15161d !important;
}

.signin-sub_text {
  @include respond(achi2) {
    font-size: 1.45rem !important;
    padding: 1rem 1rem 1rem 4rem;
    width: 30.7rem !important;
  }

  @include respond(tab-land) {
    font-size: 1.45rem !important;
    padding: 1rem 1rem 1rem 4rem;
    width: 25.7rem !important;
  }

  @include respond(tab-port) {
    font-size: 1.7rem !important;
    padding: 1rem 1rem 1rem 4rem;
    width: 30.7rem !important;
  }

  @include respond(phone) {
    font-size: 2rem !important;
    padding: 1rem 1rem 1rem 4rem;
    width: 32.7rem !important;
  }

  @include respond(small-phone) {
    font-size: 2rem !important;
    padding: 1rem 1rem 1rem 4rem;
  }
}

.navigation_link:link,
.navigation_link:visited {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  margin: 2rem;
  padding: 1rem 2rem;
  transition: all 0.4s;
}

.navigation_link:hover,
.navigation_link:active {
  color: #7ed56f;
  background-position: 100%;
}

.small_sidebar_cat1 {
  // @include respond(achi2) {
  //   font-size: 1.45rem !important;

  // }

  @include respond(tab-land) {
    font-size: 1.8rem !important;
  }

  @include respond(tab-port) {
    font-size: 2.1rem !important;
    margin-left: 2.1rem !important;
    margin-bottom: 1rem;
  }

  @include respond(phone) {
    font-size: 2rem !important;
    margin-left: 2.7rem !important;
    margin-bottom: 1rem;
  }

  @include respond(small-phone) {
    font-size: 2rem !important;
    margin-left: 5rem !important;
    margin-bottom: 1rem;
  }
}
