#showLess {
  display: none;
}

//  D changes start -> copied here from header.scss
.side_bar {
  // display: flex;
  // flex-direction: column;
  width: 12%;
  background-color: rgb(255, 255, 255);
  margin-top: 6.6rem;
  height: 100%;
  border: solid 1px lightgrey;

  // overflow-y: scroll !important;
}

//  D changes end

//  text-decoration: none;
.w3-sidebar {
  max-width: 15%;
}

// .simplebar-scrollbar:after {
//   background-color: darkblue !important;
// }

.simplebar-scrollbar {
  margin: 2px;
  // background-color: red;
}

.simplebar-scrollbar::before {
  // background-color: rgb(150, 153, 153) !important;
  height: 50vh;
  width: 3.2rem;
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.font_icon {
  // color: rgb(250, 4, 4);
  margin-right: 0.8rem;
  font-size: 1.9rem;
  // &:hover {
  //   color: red;
  // }

  .Sidebar_logo {
    padding: 1rem;
    height: 1rem;
    width: 1rem;
  }
}

.sidebar_link {
  font-size: 1.1rem;
  text-decoration: none !important;
}

.social_icons {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 1.6rem;
  background-size: 100% 100%;
  padding: 0.1rem;
}

#hide {
  display: none;
}

body a {
  color: black;
  text-decoration: none;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}

.search_nv {
  margin-left: 3rem;
}

// .user-nav a{
//   display: block;
// }

// .title_basic_nv {
//   display: block;
//   margin: 0.5rem;
//   color: #fff;

// &:hover {
//   color: rgb(231, 76, 60);
// }
// &:focus {
//   color: rgb(231, 76, 60);
//   background-color: transparent;
// }
// }
.titles_nv {
  display: block;
  margin: 0.5rem;
  // font-family: "Bitter", serif;
  font-size: 1.9rem;

  &:hover {
    color: rgb(231, 76, 60);
    border-bottom: 2px solid rgb(231, 76, 60);
  }

  &:focus {
    color: rgb(231, 76, 60);
    background-color: transparent;
  }
}

.fa-sign-out-alt {
  display: block;
  margin-right: 0.5rem;
  color: rgb(223, 68, 68);
}
.fa-heart,
.fa-user-plus,
.fa-user-shield {
  display: block;
  margin-right: 0.5rem;
  color: rgb(223, 68, 68);
  text-decoration: none;
}

.fa-plus-square {
  color: rgb(223, 68, 68);
  display: block;
  margin-right: 0.5rem;
}
.fa-h-square {
  color: rgb(223, 68, 68);
  display: block;
  margin-right: 0.5rem;
}

.fa-fire,
.fa-user {
  color: #494343;
}

.fa-plus {
  color: orange;
}

.fa-th {
  color: orange;
}

h2 {
  margin: 0;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
}

.heading-normal {
  margin: 0;

  &:hover {
    text-emphasis: none;
    text-decoration: none;
  }
}

.header {
  font-size: 1.7rem;
  height: 6.5rem;
  background-color: #15161d;
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid black;
}
@media only screen and (max-width: 31.25em) {
  .header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    height: 11rem;
  }
}

.search {
  // background-color: silver;
  border-radius: 0.1rem;
  height: 3.5rem;
  margin-left: 1rem;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  .search {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}

.search__input {
  // * D changes

  // background-color: var(--color-grey-light-2);
  // border-radius: 100px;
  // padding: 0.7rem 2rem;
  // * D changes *
  // border: 2px solid rgb(146, 43, 33);
  // border: 2px solid rgb(231, 76, 60);
  border: 0.1px solid rgba(209, 0, 36, 1);
  border-right: 0px;
  padding: 0rem 1rem;
  // border-radius: 0.5rem;
  // border-radius: 0 8px 8px 0;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: -3.25rem;
  height: 3.5rem;
  // margin-left: 3rem;
  color: rgb(23, 32, 42);
  // font-family: "Bitter", serif;
  font-size: 1.5rem;

  &:hover {
    color: #c60022;
  }
}

.search__input:focus {
  outline: none;
  width: 100%;
  // D *changes
  // background-color: var(--color-grey-light-3);
  // D * changes *
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}

// D *changes start
.search__button {
  // color: rgba(6, 16, 99, 0.7);
  color: #cb4335;
  font-size: 1.6rem;
}
// D *changes * end

//  D *changes * start
.Navb_logo-text {
  margin-left: 2rem;
  display: flex;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-shadow: 0.15rem 0.15rem 0.15rem #00000085;
  font-size: 2.7rem;
  max-width: 170px;
  // height:1.8rem;
  vertical-align: middle;
  // font-family: 'Alegreya SC', serif;
  font-family: "Metal Mania", cursive;

  // D *changes * end

  &:hover {
    color: rgb(231, 76, 60);
  }

  .Sidebar_logo {
    color: white;
    height: 3.25rem;
    margin-left: 2rem;
  }
}

.user-nav {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  font-family: "Signika", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0rem;
  justify-content: flex-end;
}

.user-nav > * {
  padding: 0 1rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba($color: #fff, $alpha: 1);
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-grey-dark-2);
}

.user-nav__notification {
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: orange;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 0.9rem;
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscriptions_mp{
  
  font-family: Arial, Helvetica, sans-serif;
  &:hover{
    background:#F2F3F4;
  }
}
.user-nav__user {
  display: flex;
  width: 6.5rem;
  padding: 0 0.2rem;
  align-items: center;
}
.user-nav__user-photo {
  width: 6.5rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: 6rem;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.categories_dropdown_nv {
  margin-left: 1.68rem;
  padding: 0px 15px;
  // background: #fff;
  border: 1px solid #e4e7ed;
  height: 3.5rem;
  // border-radius: 8px 0px 0px 8px;
  align-self: center;
  // border: 2px solid rgb(231, 76, 60);
  border-left: none;
  border: 0.1px solid rgba(209, 0, 36, 1);
  color: rgb(23, 32, 42);
  // font-family: "Bitter", serif;
  font-size: 1.5rem;
  // background-color: rgba(209, 0, 36, 0.9);
  // color: #fff;
  // color: rgb(231, 76, 60);

  &:hover {
    background-color: rgba(209, 0, 36, 0.9);
    color: #fff;
  }
  width: 15rem;
  /////////////////////////////

  a {
    text-decoration: none;
  }

  nav {
    font-family: monospace;
  }

  ul {
    // background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    // color: #fff;
    // background: darkorange;
    display: block;
    float: left;
    // padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  li a {
    color: #fff;
  }

  li:hover {
    // background: red;
    cursor: pointer;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}
