.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 4rem 0;
}

.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem 0;
}

.user-view__form-container {
  max-width: 68rem;
  margin-bottom: 5rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1rem 1.75rem;
  border: none;
  width: 40% !important;
  background-color: #d8d8d8;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 2.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload + label {
  color: #fff;
  background-color: #df4444;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #df4444;
  border-radius: 2rem;
  padding: 3px 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.form__upload + label:hover {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.btn-update-settings {
  color: #fff;
  background-color: #df4444;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: 1px solid #df4444;
  cursor: pointer;
}

.btn-update-settings:hover {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

/////////////////////////////////////////////////////////////////////////////////////////////////////

$logo: #3dbb3d;
$gray: #777777;
$black: #070707;
$green: #7ed386;
$aqua: #3fb6a8;
$white: #ffffff;

// @import url("https://fonts.googleapis.com/css?family=Alegreya+SC");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Bitter");
$hulu: "Nunito Sans", sans-serif;
$heading: "Montserrat", sans-serif;
$body: "Roboto", sans-serif;


// .logo {
//   float: right;
//   margin-right: 12px;
//   margin-top: 12px;
//   font-family: $hulu;
//   color: $logo;
//   font-weight: 900;
//   font-size: 1.5em;
//   letter-spacing: 1px;
// }

.CTA {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: $green;
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  h1 {
    color: $white;
    margin-top: 10px;
    margin-left: 9px;
  }
  &:hover {
    background: $aqua;
    transform: scale(1.1);
  }
}

// nav a {
//   list-style: none;
//   padding: 35px;
//   color: $white;
//   font-size: 1.1em;
//   display: block;
//   transition: all .3s ease-in-out;
//   &:hover {
//     color: $aqua;
//     transform: scale(1.2);
//     cursor: pointer;
//   }
//   &:first-child {
//     margin-top: 7px;
//   }
// }

// .active {
//   color: $aqua;
// }


.containerSettings {
  background-color: #ECF0F1;
  height: 175rem;
  position: relative;
  // box-shadow: 2px 5px 20px rgba($gray, 0.5);
  margin: 0 auto;
  max-width: 136.5rem;
  min-width: 112.5rem;
}


.leftbox {
  float: left;
  position: fixed;
  width: 19%;
  // height: 100%;
  background-color: #FBFCFC;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
  margin-left: 1rem;
  margin-top: 8rem;
}

.leftbox_element {
  // text-align: center;
  padding: 1.5rem;
  font-size: 16px;
  cursor: pointer;
  color: rgb(39, 39, 39);
  transition: 0.25s all;
}

.leftbox_element:hover {
  background-color: #f2f2f2;
}

 .leftbox_icon {
  margin-right: 10px;
  margin-left: 5px;
  color: rgb(39, 39, 39);
  height: 16px;
  width: 16px;
}

.rightbox {
  padding-left: 5rem;
  float: right;
  width: 77%;
  height: 95%;
  background-color: #FBFCFC;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
  margin-right: 2rem;
  margin-top: 8rem;
}

// body{
//   background-color: rgb(242, 243, 246 );
// }

#twofactorauth {
  margin-top: 2rem;
}

#deleteAccount {
  display: block;
  margin-top: 2rem;
}

.settings_user_review {
  margin: 0rem;
}

.settings_review_username {
  font-size: 1.6rem;
}

.user_settings_forgot_password {
  border: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  margin-left: 1.5rem;
  color: rgb(0, 0, 88);
}

.user_settings_sub_heading {
  font-size: 20px;
  margin-top: 4rem;
  font-family: Bitter;
}