@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}
@mixin respond($breakpoint) {
  @if ($breakpoint==small-phone) {
    @media (max-width: 22.2em) {
      @content;
    }
  }
  @if ($breakpoint==phone) {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if ($breakpoint==tab-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint==tab-land) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint==achi) {
    @media (max-width: 1500px) {
      @content;
    }
  }
  @if ($breakpoint==achi2) {
    @media (max-width: 1380px) {
      @content;
    }
  }
  @media (max-width: 1380px) {
    .p {
      font-size: 2rem;
    }
    .para {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
  @if ($breakpoint==big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
//////////////////alerts

.alerts {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.26);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.253);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b !important;
}
