//colors
$maroon: #d10024;
$medium-green: #55c57a;
$light-grey: #f7f7f7;
$maroon-saturated: #eb0013;
//grid
$gutter-horizontal: 8rem;
//lanq
$purple: #014165;
$family: "Lucida Sans", "Lucida Sans Regular" "Lucida Sans Unicode", Geneva,
  Verdana, sans-serif;
$family2: "Montserrat", sans-serif;
$heading-color: #333;
$border-color: #e4e7ed;
